<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">修改商品 [ <a href="{:C('ADMIN_ROOT')}/MemberJfmall/index">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/layer3/layer.js"></script>
        <form id="frmMain" method='post' action="">
            <table cellpadding=3 cellspacing=3 >
                <input type="hidden" name="id" value="{$detail.id}">

                <tr>
                    <td class="tRight">名称：</td>
                    <td class="tLeft" >
                        <input type="text" name="title" value="{$detail.title}" required="required"></td>
                </tr>
                <tr>
                    <td class="tRight">所需积分：</td>
                    <td class="tLeft" >
                        <input type="text" name="jf_val" value="{$detail.jf_val}" required="required"></td>
                </tr>
                <tr>
                    <td class="tRight">状态：</td>
                    <td class="tLeft" >
                        <select name="status">
                            <option <eq name="detail.status" value="1">selected</eq> value="1">已上架</option>
                            <option <eq name="detail.status" value="0">selected</eq> value="0">已下架</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">图片：</td>
                    <td class="tLeft" >
                        <img src="{$detail.image}" width="100px" height="auto">
                        <br>
                        <input type="file" name="image">
                        <input type="hidden" name="old_image" value="{$detail.image}">
                    </td>
                </tr>

                <tr>
                    <td class="tRight">URL：</td>
                    <td class="tLeft" >
                        <input type="text" name="url" value="{$detail.url}" required="required"></td>
                </tr>

                <tr>
                    <td class="tRight">权重值：</td>
                    <td class="tLeft" >
                        <input type="text" name="orders" value="{$detail.orders}" value="0">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <!-- <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" > -->
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    var _layerIndex = 0;
    var _urlObj, _extObj;


    var _adding = false;

    $(document).ready(function(){
        _urlObj = $("#url");
        _extObj = $("#ext");
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                _layerIndex = layer.load('数据提交中...');
                $("#frmMain").ajaxSubmit({
                    url: ROOT + '/MemberJfmall/edit_update',
                    type: "post",
                    dataType: "json",
                    success: function(msg){
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('修改成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                    }
                });
                return false;
            }
        });
    });
</script>