<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">添加特权 - 任务列表 [ <a href="{:C('ADMIN_ROOT')}/Task/index">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <form id="frmMain" method='post' action="">
            <table cellpadding=3 cellspacing=3 >
                <input type="hidden" name="status" value="1">
                <tr>
                    <td class="tRight">特权名称：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="name" name="name"></td>
                </tr>
                <tr>
                    <td class="tRight">上传点亮图片：</td>
                    <td class="tLeft" ><input type="file" class="bleftrequire" name="image" /></td>
                </tr>
                <tr>
                    <td class="tRight">上传熄灭图片：</td>
                    <td class="tLeft" ><input type="file" class="bleftrequire" name="image_off" /></td>
                </tr>
                <tr>
                    <td class="tRight">适用等级：</td>
                    <td class="tLeft" >
                        <select name="vip_id">
                            <foreach name="vips" item="vip">
                                <option value="{$vip.id}">{$vip.name}</option>
                            </foreach>
                        </select>
                        &nbsp;
                        <span style="color:#409DFE;">注：该等级及以上可享有当前特权</span>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _layerIndex = 0;
    var _action = 0;
    var _urlObj, _extObj;


    var _adding = false;

    $(document).ready(function(){
        _urlObj = $("#url");
        _extObj = $("#ext");
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                _layerIndex = layer.load('数据提交中...');
                $("#frmMain").ajaxSubmit({
                    url: ROOT + '/member/throne_store',
                    type: "post",
                    dataType: "json",
                    success: function(msg){
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('添加成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                    }
                });
                return false;
            }
        });
    });
</script>