<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">广告管理 - 添加广告 [ <a href="{:C('ADMIN_ROOT')}/Advertisement/index">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <form id="frmMain" method='post' action="">
            <table cellpadding=3 cellspacing=3 >
                <tr>
                    <td class="tRight" width="20%">广告位：</td>
                    <td class="tLeft" >
                        <select name="position" id="position">
                            <foreach name="position" item="item">
                                <option value="{$key}">{$item}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tRight">动作：</td>
                    <td class="tLeft" >
                        <select name="action" id="action" onchange="changeAction(this)">
                            <foreach name="action" item="item">
                                <option value="{$key}">{$item}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                <tr style="display:none;">
                    <td class="tRight">URL：</td>
                    <td class="tLeft">
                    	<textarea id="url" name="url" class="huge"></textarea><span style="color:#409DFE;">islogin:0 可以不登录 ，1 要求登录</span>
                    </td>
                </tr>
                <tr style="display:none;">
                    <td class="tRight">扩展内容：</td>
                    <td class="tLeft"><textarea id="ext" name="ext" class="huge"></textarea></td>
                </tr>
                <tr>
                    <td class="tRight">状态：</td>
                    <td class="tLeft">
                        <select name="status" id="status" class="bleftrequire">
                            <option value="1">未上架</option>
                            <option value="2">已上架</option>
                            <option value="3">已下架</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tRight">图片：</td>
                    <td class="tLeft" ><input type="file" class="bleftrequire" name="img" id="img" /></td>
                </tr>
                <tr>
                    <td class="tRight">标题：</td>
                    <td class="tLeft"><input type="text" name="title" id="title" class="huge" /></td>
                </tr>
                <tr>
                    <td class="tRight">摘要：</td>
                    <td class="tLeft"><textarea id="summary" name="summary" class="huge" maxlength="255" style="height:80px;"></textarea></td>
                </tr>
                
                <tr>
                    <td class="tRight">分享Id：</td>
                    <td class="tLeft"><input type="text" name="share_id" id="share_id" value="0"/></td>
                </tr>
                
                <tr>
                    <td class="tRight">是否大banner：</td>
                    <td class="tLeft">
                    	<input type="checkbox" class="laydate-icon" name="big_banner" id="big_banner" value="1"/>
                    </td>
                </tr>
                                
                <tr style="display:none;">
                    <td class="tRight">用户组：</td>
                    <td class="tLeft">
                        <input type="checkbox" class="laydate-icon" name="old_user" value="1"/>老用户
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排序:<input type="text" name="old_rank" id="old_rank"/>
                    </td>
                </tr>
                
                <tr style="display:none;">
                    <td class="tRight">用户组：</td>
                    <td class="tLeft">
                        <input type="checkbox" class="laydate-icon" name="new_user" value="1"/>新用户
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排序:<input type="text" name="new_rank" id="new_rank"/>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">是否活动：</td>
                    <td class="tLeft">
                    	<input type="checkbox" class="laydate-icon" name="is_activity" id="is_activity" value="1"/>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">起止时间：</td>
                    <td class="tLeft">
                    	<input type="text" class="laydate-icon" name="start_time" id="start_time" />
                    	<input type="text" class="laydate-icon" name="end_time" id="end_time" />
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _layerIndex = 0;
    var _action = 0;
    var _urlObj, _extObj;
    
    
    var start = {
            elem: '#start_time',
            format: 'YYYY-MM-DD hh:mm:ss',
            min: '1970-00-00 00:00:00', //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: true,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
    
    var end = {
        elem: '#end_time',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: true,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    
    $(document).ready(function(){
        _urlObj = $("#url");
        _extObj = $("#ext");
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                _layerIndex = layer.load('数据提交中...');
                $("#frmMain").ajaxSubmit({
                    url: ROOT + '/advertisement/add',
                    type: "post",
                    dataType: "json",
                    success: function(msg){
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('添加成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                    }
                });
                return false;
            }
        });
    });
    function changeAction(_obj){
        _action = $(_obj).val();
        switch(_action){
            case '0':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '1':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '2':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '3':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '4':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '5':
                _extObj.parent().parent().css('display', '');
                _extObj.val('{"url":"","islogin":"0"}');
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                break;
            case '6':
                _extObj.parent().parent().css('display', '');
                _extObj.val('{"id":""}');
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                break;
            case '7':
                _extObj.parent().parent().css('display', '');
                _extObj.val('{"id":""}');
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                break;
            case '8':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '9':
                _urlObj.parent().parent().css('display', '');
                _urlObj.val('{"cardNo":""}');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '10':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '11':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
            case '12':
                _urlObj.parent().parent().css('display', 'none');
                _urlObj.val('');
                _extObj.parent().parent().css('display', 'none');
                _extObj.val('');
                break;
        }
    }
    $("#big_banner").change(function() { 
    	if ($("#big_banner").attr("checked")) {
    		  $("#old_rank").parent().parent().css('display', '');
    		  $("#new_rank").parent().parent().css('display', '');
    	  } else{
    		  $("#old_rank").parent().parent().css('display', 'none');
    		  $("#new_rank").parent().parent().css('display', 'none');
    	  }
    });
    
    
    $("#status").change(function() { 
    	    	
    	var val = $(this).val();
    	if(3==val){
    		$("#old_user").removeAttr("checked");
    		$("#new_user").removeAttr("checked");
    		$("#big_banner").removeAttr("checked");
    		$("#big_banner").change();
    		
    	}
    });
    
    
    
    
</script>