<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">广告管理 - 编辑提现说明页 [ <a href="{:C('ADMIN_ROOT')}/Advertisement/withdrawals_explain_index/p/{$params.page|default=1}">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <form id="frmMain" method='post' action="">
            <input type="hidden" name="id" value="{$detail.id}" />
            <input type="hidden" name="page" value="{$params.page|default=1}" />
            <table cellpadding=3 cellspacing=3 >
                <tr>
                    <td class="tRight" width="20%">广告位：</td>
                    <td class="tLeft" >
                        <label>提现说明</label>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">状态：</td>
                    <td class="tLeft">
                        <select name="status" id="status" class="bleftrequire">
                            <option value="2" <eq name="detail.status" value="2">selected</eq>>已上架</option>
                            <option value="3" <eq name="detail.status" value="3">selected</eq>>已下架</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tRight">图片：</td>
                    <td class="tLeft" >
                        <input type="hidden" name="image" value="{$detail.image}" />
                        <img src="{:C('OSS_STATIC_ROOT')}/Uploads/focus/{$detail.image}" style="max-width: 100px;" /><br>
                        <input type="file" class="bleftrequire" name="img" id="img" />
                    </td>
                </tr>

                <tr style="display: none">
                    <td class="tRight">起止时间：</td>
                    <td class="tLeft">
                        <input type="text" class="laydate-icon" name="start_time" id="start_time" value="{$detail.start_time}"/>
                        <input type="text" class="laydate-icon" name="end_time" id="end_time" value="{$detail.end_time}"/>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _layerIndex = 0;
    var _action = 0;

    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                _layerIndex = layer.load('数据提交中...');
                $("#frmMain").ajaxSubmit({
                    url: ROOT + '/advertisement/withdrawals_explain_edit',
                    type: "post",
                    dataType: "json",
                    success: function(msg){
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('编辑成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                    }
                });
                return false;
            }
        });
    });

    var start = {
        elem: '#start_time',
        format: 'YYYY-MM-DD ss:ss:ss',
        min: '1970-00-00 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: true,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };

    var end = {
        elem: '#end_time',
        format: 'YYYY-MM-DD ss:ss:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: true,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);

</script>