<include file="Public:baidu_script" />
<div class="MCSecurityBox05Bg fLe clear">
    <div class="MCSecurityBox05 w1003 clear">
        <h5>票票喵APP</h5>
        <a href="{:C('WEB_ROOT')}/download/android-debug.apk" style="margin-left:254px;"><img src="{:C('STATIC_ROOT')}/ppmiao/images/MCSecurityImg07.png" /></a>
        <a href="#" style="margin-left:65px;"><img src="{:C('STATIC_ROOT')}/ppmiao/images/MCSecurityImg08.png" /></a>
    </div>
</div>
<div class="footerInnerBg fLe clear">
    <div class="footerInner w1003 clear">
        <ul>
            <a href="{:C('WEB_ROOT')}/about.html">关于我们&nbsp;&nbsp;|&nbsp;&nbsp;</a>
            <a href="{:C('WEB_ROOT')}/join.html">加入我们&nbsp;&nbsp;|&nbsp;&nbsp;</a>
            <a href="{:C('WEB_ROOT')}/contact.html">联系我们&nbsp;&nbsp;</a>
        </ul>
        <p>浙ICP备16003202号-1 |  Copyrights      2015 PiaoPiaoMiaopiaojulicaitouziguanli</p>
    </div>
</div>