<script type="text/javascript" src="{:C('STATIC_ROOT')}/v2/js/script.js"></script>
<div id="top">
    <div id="izl_rmenu" class="izl-rmenu">
        <div class="btn btn-wx"><img class="pic" src="{:C('STATIC_ROOT')}/v2/images/silderImg04.png" /></div>
        <a href="{:C('WEB_ROOT')}/feedback.html" target="_blank"><div class="btn btn-phone"><div class="phone"></div></div></a>
        <a href="{:C('WEB_ROOT')}/faq.html"><div class="btn btn-question"><div class="phone"></div></div></a>
        <div class="btn btn-top"></div>
    </div>
</div>