@charset "utf-8";
        .marry_pic img {
            width: 100%;
        }

        .marry_now {
            width: 100%;
            line-height: 60px;
            background-color: #f2e92a;
            color: #000000;
            font-size: 17px;
            text-align:center;
        }
