<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
    	<div class="title">抽奖活动添加 [ <a href="{:C('ADMIN_ROOT')}/lottery/lottery_log">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <form id="frmMain" method='post' action="">
            <table cellpadding="3" cellspacing="3" >
                <tr>
                    <td class="tRight" width="150px">选择抽奖活动：</td>
                    <td class="tLeft">
                        <select id="lottery_id" name="lottery_id" class="bLeftRequire" onchange="changeLottery(this)">
                            <option value="-1">无</option>
                            <foreach name="lottery_list" item="item">
                            <option value="{$item.id}">{$item.name}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight" width="150px">选择奖品：</td>
                    <td class="tLeft">
                        <select id="lottery_award_id" name="lottery_award_id" class="bLeftRequire" >
                        	<option value="-1">请选择</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">手机号码：</td>
                    <td class="tLeft" >
                    	<input type="text" class="bLeftRequire" datatype="*" id="user_name" name="user_name" value="{$mobile}">
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <!-- <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" > -->
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    
    var _adding = false;
    var _layerIndex = 0;
    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                if(_adding) return;
                _adding = true;
                _layerIndex = layer.load('数据提交中...');
                $.ajax({
                    url: ROOT + '/lottery/lottery_log_add',
                    data: $('#frmMain').serialize(),
                    type: "POST",
                    cache: false,
                    success: function(msg) {
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('添加成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                        _adding = false;
                    }
                });
                return false;
            }
        });
    });
    
    function changeLottery(_obj){
    	var _type = $(_obj).val();
    	if(_type>0){
    		$.ajax({
                url: ROOT + '/lottery/get_lottery_award',
                data: $('#frmMain').serialize(),
                type: "POST",
                cache: false,
                success: function(msg) {
                    layer.close(_layerIndex);
      				if(msg.status == 1){
      					var opt = '';
      					for(var key in msg.data){
      						opt +="<option value='"+msg.data[key]['id']+"'>"+msg.data[key]['name']+"</option>\n";
      					}
      					$("#lottery_award_id").empty().html(opt);
      				} else{
      					layer.alert('该抽奖没有配置奖品');
      				}
                    _adding = false;
                }
            });
            return false;
    	}
    }
</script>