<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <link href="{:C('STATIC_ROOT')}/v2/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/v2/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/v2/js/jquery.js"></script>
</head>

<body id="innerBody">
<include file="PublicNew:menu" />

<div class="innerMain w980 clear">
    <include file="PublicNew:user_sidebar" />

    <div class="innerRight fRi clear">
        <div class="MyuserBox01 fLe clear">
            <div class="innerRight_user_title fLe clear">
                <h2>个人中心</h2>
            </div>
            <div class="MyuserBox01_content fLe clear">
                <p><span>账户：</span>{$user_info.mobile|hide_whole_phone}</p>
                <p><span>实名认证：</span>{$user_info.realName|hide_whole_name}</p>
                <p><span>身份证：</span>{$user_info.cardNo|hide_whole_idcard}</p>
            </div>
        </div>
    </div>
</div>

<include file="PublicNew:user_footer" />
</body>
</html>