<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170413/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170413/css/style.css" rel="stylesheet" type="text/css" />
    <title>票票喵-奖励细则</title>


</head>
<body style="background-color:#008140;">
    <section>
        <!--正文-->
        <div class="gift_top">
            <ul>
                <li class="cut25 fl tc">
                    <p>序号</p>
                </li>
                <li class="cut35 fl tc">
                    <p>奖励来源</p>
                </li>
                <li class="cut40 fl tc">
                    <p>获得奖励</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
       
        <!--时间-->
        <div class="gift_time">
            <p>2017/03</p>
        </div>
        <!--细则-->
        <div class="gift_number">
            <div class="cut25 fl tc">
                <p>1</p>
            </div>
            <div class="cut35 fl tc">
                <p>131****2252</p>
            </div>
            <div class="cut40 fl tc">
                <p style="color:#ffd800;">1000元加息券</p>
            </div>
            <div class="clear"></div>
        </div>
        <!--时间-->
        <div class="gift_time">
            <p>2017/03</p>
        </div>
        <!--无邀请记录1-->
        <div class="gift_no">
            <p>当月无邀请记录</p>
        </div>
        <!--无记录-->
        <div class="gift_pic tc" style="">
            <img src="{:C('STATIC_ROOT')}/activity/event20170413/images/no_03.png" />
        </div>
    </section>
    </body>
</html>