<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="https://image.ppmiao.com/Public/js/flexible.js"></script>
    <script src="https://image.ppmiao.com/Public/js/flexible_css.js"></script>
    <script src="https://image.ppmiao.com/Public/js/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="https://image.ppmiao.com/Public/js/util.js"></script>
    <link rel="stylesheet" href="https://image.ppmiao.com/Public/activity/llyh/css/index.css">
    <title>票票喵理财</title>
    <style media="screen">
        body{
            background: #fecd37;
        }
    </style>
</head>
<body>

<div class="background img11"></div>
<div class="background img12">
    <eq name="type" value="2">
        <!-- 新用户  -->
        <div class="new"></div>
    <else/>
        <!-- 老用户  -->
        <div class="already"></div>
    </eq>

    <a href="{$url}" class="down-load"></a>
</div>

</body>
</html>