{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->

<!-- 主页面开始 -->
<div id="main" class="main" >

    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">行为跟踪</div>
        <!--  功能操作区域  -->
        <div class="operate" >
            <if condition="checkAuth('Admin/tracking/singleuser') eq true"><div class="impBtn hMargin fLeft shadow"><input type="button" name="add" value="单用户" onclick="single_user()" class="add imgButton"></div></if>
        </div>
        <!-- 功能操作区域结束 -->

    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
<style>
    .icon_add{
        background-image: url('{:C("STATIC_ADMIN")}/auth/images/icon_open.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding-left: 25px;
    }
    .icon_close{
        background-image: url('{:C("STATIC_ADMIN")}/auth/images/icon_close.png');
    }
    .subitem{background-color: whitesmoke!important;}
</style>
<script>
    function single_user(){ // 单用户
        window.location.href = "{:C('ADMIN_ROOT')}/tracking/singleuser";
    }
</script>