<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$meta_title}</title>
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="author" content="{:C('META_AUTHOR')}" />
    <link rel="shortcut icon" href="{:C('WEB_ROOT')}/favicon.ico">
    <link href="{:C('STATIC_ROOT')}/v2/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/v2/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/v2/js/jquery.js"></script>
</head>

<body>
<include file="PublicNew:menu" />

<div class="joinBanner">
    <p style="background:url({:C('STATIC_ROOT')}/v2/images/recommentBanner.jpg) no-repeat scroll center top; display:block"></p>
</div>

<div class="classBigBox01 fLe clear">
    <div class="main w978 clear">
        <div class="classBox01 fLe clear">
            <h2>石头打新股</h2>
            <p>借力打新，收益4倍化，风险更小，收益更高</p>
        </div>
    </div>
</div>

<div class="classBigBox02 fLe clear">
    <div class="main w978 clear">
        <div class="classBox02 fLe clear">
            <h4>石头打新1号产品要素表</h4>
            <ul>
                <li><span>产品结构</span><p>石头打新1号产品匹配银行资金按1:4杠杆比例投资于国泰基金旗下新股申购类公募基金</p></li>
                <li><span>产品管理人</span><p>国泰基金管理有限公司</p></li>
                <li><span>资金托管人</span><p>中信证券股份有限公司</p></li>
                <li><span>产品期限</span><p>本产品计划投资期限为7个月</p></li>
                <li><span>认购起点</span><p>1000元  每期每人认购最高金额一万元</p></li>
                <li><span>产品费用</span><p>产品年化收益超过18%的部分提取50%作为管理费（产品年化收益低于18%不提取管理费）认购费暂免</p></li>
                <li><span>收益说明</span><p>本金安全、收益浮动（上期产品近一月年化收益达75%）</p></li>
                <li><span>风险说明</span><p>打新产品可能受到新股申购政策、IPO审批速度等不可控因素影响，若出现亏损，将由本产品损益权转让方
                    承担石头理财客户不承担亏损风险。</p></li>
            </ul>
        </div>
    </div>
</div>


<div class="classBigBox03 fLe clear" style="background:url({:C('STATIC_ROOT')}/v2/images/newbanner.jpg) no-repeat scroll center top;">
    <div class="main w978 clear">
        <div class="classBox03 fLe clear">

        </div>
    </div>
</div>

<div class="classBigBox04 fLe clear">
    <div class="main w978 clear">
        <div class="classBox04 fLe clear" style="padding-bottom:140px;">
            <img src="{:C('STATIC_ROOT')}/v2/images/ABImg02.jpg" />
            <div class="classBox04Right fLe clear">
                <h2>故事说明</h2>
                <p> 一天，邻居老赵告诉老王城里有专业的打井队打井不收钱，并且保证出水井都可以有18桶以上的水。但如果水井里打出水超过18桶，超出部分要与打井队平分。这时老张愿意为老王出400元的保证金，前提是如果水井打出水的来话， 老王需要给老张2桶水。水井如期开工了，一共打出了70桶水。按此前的约定，老王把2桶水给了老张，剩下了68桶，减掉打井队承诺的最低18桶水，还剩50桶水。剩余的50桶水与打井队平分，老王分得25桶水。最后老王拿回了自己得100块保证金，又得到18+25共计43桶水。如果最后没有打出水，老王仍然可以拿回自己的100块，没有任何损失。当下国内外各种刺激消费、经济的利好信息，已在股市和基金的市场中显露无疑。是否有愿意借给你打井设备（平台）并且代你操作施工队，是否有愿意为你多打几口水井而出保证金（银行）的机构。机会就在眼前，你还在等什么？
                </p>
            </div>
        </div>
    </div>

    <include file="PublicNew:footer" />
</div>
<include file="PublicNew:gotop" />
</body>
</html>