@charset "utf-8";
        .two_pic img {
            width: 100%;
        }

        .two_now {
            width: 100%;
            line-height: 50px;
            background-color: #f2c720;
            color: #ec6748;
            font-size: 17px;
            width:100%;position:fixed;bottom:0;left:0;
            text-align:center;
        }
