<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <script src="https://image.ppmiao.com/Public/js/flexible.js"></script>
  <script src="https://image.ppmiao.com/Public/js/flexible_css.js"></script>
  <script src="https://image.ppmiao.com/Public/js/jquery-1.10.2.min.js"></script>

  <script type="text/javascript" src="https://image.ppmiao.com/Public/js/util.js"></script>
  <link rel="stylesheet" href="https://image.ppmiao.com/Public/activity/wenjuanxing/css/index.css">
  <title>票票喵注册有礼</title>
  <script>
      //声明_czc对象:
      var _czc = _czc || [];
      //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
      _czc.push(["_setAccount", "1271661273"]);
  </script>
</head>
<body>
<div class="background img1"></div>
<div class="background img2">
  <input class="phoneno" type="text" name="mobile" value="" placeholder="请输入手机号">
  <input class="codeno" type="text" name="code" placeholder="请输入验证码">
  <span class="get-code code-time">获取验证码</span>
  <button type="button" class="login">登录/注册</button>
</div>
<div class="background img3"></div>
<div class="background img4"></div>
<div class="background img5"></div>
<div class="model-back" style="display:none">
  <div class="dialog">
    <div class="top"> 手机号输入有误</div>
    <div class="bottom">
      确定
    </div>
  </div>
</div>


<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1271661273'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1271661273%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>


<script type="text/javascript">
    function isNew(){
        $(window).scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if(scrollTop + windowHeight == scrollHeight){
                _czc.push(["_trackEvent",'scroll_downn','统计在注册页面下滑的次数','问卷星1','','']);
            }
        });
    }
    $(document).ready(function() {
        isNew();
    });

</script>
</body>
<script type="text/javascript">


    function staticTimes(){
        _czc.push(["_trackEvent",'get_captcha','统计获取验证码的次数','问卷星1','','']);
    }

    function login(){
        _czc.push(["_trackEvent",'login','统计完成注册或登录的次数','问卷星1','','']);
    }


    var ch = "{$ch}";

    $('.bottom').click(function() {
        $('.model-back').css({display:'none'});
    });

    // 获取验证码
    $('.code-time').click(function() {
        staticTimes();
        var mobile = $('input[name=mobile]').val();
        if(!checkPhone(mobile)) {
            if(mobile == "") {
                $('.model-back .top').html('请输入您的手机号码！');
            } else {
                $('.model-back .top').html('输入的手机号码有误！');
            }
            $('.model-back').css({display:'block'});
            return;
        }

        $.ajax({
            url: "/hd/sendCode.html",
            type: "post",
            data: {'invitedMobile':mobile},
            success: function (json) {
                if(json.status == 1){
                    Countdown();
                } else {
                    $('.pop .top').html(json.info);
                    $('.pop').css({display:'block'});
                }
                return;
            }
        })

    });


    // 登录/注册
    $('.login').click(function() {


        var mobile = $('input[name=mobile]').val();
        var code = $('input[name=code]').val();

        if(!checkPhone(mobile)) {
            if(mobile == "") {
                $('.model-back .top').html('请输入您的手机号码！');
            } else {
                $('.model-back .top').html('输入的手机号码有误！');
            }
            $('.model-back').css({display:'block'});
            return ;
        }

        if(!code || code.length<6) {
            $('.model-back .top').html('请输入6位数的验证码！');
            $('.model-back').css({display:'block'});
            return ;
        }

        login();
        $.ajax({
            url: "/hd/wenjuanxing_res.html",
            type: "post",
            data: {'code':code,'mobile':mobile,'ch':ch},
            success: function (json) {
                if(json.status == 0){
                    $('.model-back .top').html(json.info);
                    $('.model-back').css({display:'block'});
                } else {

                    window.location.href=json.info;
                }
                return;
            }
        });


    });

    // 真不错，开始赚钱
    $('.go-top').click(function() {
        $('body,html').animate({scrollTop:0},500);

    });


    //  修改弹出框内容
    //$('.pop .top').html('这里修改弹出提示');
    //显示弹框
    // $('.pop').css({display:'block'});
    //隐藏弹框
    $('.pop .bottom').click(function() {
        $('.pop').css({display: "none"});
    });


    // 注册

    // 倒计时
    var sleep = 60, interval = null;
    function Countdown(){
        if (!interval) {
            $('.get-code').css('pointer-events', 'none');
            $('.code-time').html(sleep + " s");
            interval = setInterval(function () {
                if (sleep == 0) {
                    if (!!interval) {
                        clearInterval(interval);
                        interval = null;
                        sleep = 60;
                        $('.get-code').css('pointer-events', 'auto');
                        $(".code-time").html("获取验证码");
                    }
                    return false;
                }
                $('.code-time').html(sleep-- + " s");
            }, 1000);
        }
    }

    function checkPhone(phone){
        if(!(/^1[3|4|5|7|8]\d{9}$/.test(phone))){
            return false;
        }
        return true;
    }
</script>

</html>
