<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$meta_title}</title>
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="author" content="{:C('META_AUTHOR')}" />
    <link rel="shortcut icon" href="{:C('WEB_ROOT')}/favicon.ico">
    <link href="{:C('STATIC_ROOT')}/v2/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/v2/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/v2/js/jquery.js"></script>
</head>

<body style="overflow-x:hidden;">
<include file="PublicNew:menu" />

<div class="joinBanner" style="height:217px;">
    <p style="background:url({:C('STATIC_ROOT')}/v2/images/img/user_img06.jpg) no-repeat scroll center top; height:217px; display:block"></p>
</div>

<div class="mediaNewsBox fLe clear">
    <div class="mediaNews w980 clear">
        <div class="mediaNewsInner fLe clear">
            <h1>{$detail.title}</h1>
            <p>{$detail.from}  发布时间：{$detail.add_time|date='Y-m-d',###}</p>
            <div class="mediaNewsInnerTxt fLe clear">
                {$detail.description}
            </div>
        </div>
    </div>
</div>

<include file="PublicNew:footer" />
</body>
</html>