{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->
<script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
<!-- 主页面开始 -->
<div id="main" class="main" >

    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">首次购买返现</div>
        <!--  功能操作区域  -->
        <div class="operate" >
            <!-- 查询区域 -->
            <div class="fRig">
                <form method='post' action="">
                    <div class="fLeft">
                        <select name="status">
                            <option value="0" <if condition="$params.status eq 0">selected="selected"</if>>红包送出情况</option>
                            <option value="1" <if condition="$params.status eq 1">selected="selected"</if>>已送出</option>
                            <option value="2" <if condition="$params.status eq 2">selected="selected"</if>>未送出</option>
                        </select>
                        <label for="start_time">开始时间：<input type="text" class="laydate-icon" name="start_time" id="start_time" value="{$params.start_time}" readonly /></label>
                        <label for="end_time">结束时间：<input type="text" class="laydate-icon" name="end_time" id="end_time" value="{$params.end_time}" readonly /></label>
                    </div>
                    <div class="impBtn hMargin fLeft shadow"><input type="submit" value="搜索" class="search imgButton"></div>
                </form>
            </div>
            <!-- 高级查询区域 -->
            <div  id="searchM" class=" search cBoth" >
                <table>
                    <tbody>
                    <tr>
                        <td><a href="javascript:;" onclick="printPage()">打印</a>&nbsp;&nbsp;&nbsp;</td>
                        <td><a href="javascript:;" onclick="batch_send()">批量发送红包</a>&nbsp;</td>
                        <td><a href="javascript:;" onclick="excel_export('{$params.start_time}','{$params.end_time}','{$params.status}')">导出excel表格</a>&nbsp;</td>
                        <td><a href="javascript:;" onclick="getUserRedList('{$params.start_time}','{$params.end_time}','{$params.status}')">获取用户现金券记录列表</a>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </form>
        </div>
        <!-- 功能操作区域结束 -->
        <!--startprint-->
        <!-- 列表显示区域  -->
        <div class="list" >
            <table id="checkList" class="list" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height="5" colspan="13" class="topTd"></td>
                </tr>
                <tr class="row">
                    <th width="8px"><input type="checkbox" id="check" onclick="CheckAll(this, 'checkList')"></th>
                    <th align="center">姓名</th>
                    <th align="center">手机号码</th>
                    <th align="center">产品名称</th>
                    <th align="center">产品期限</th>
                    <th align="center">交易金额</th>
                    <th align="center">购买渠道</th>
                    <th align="center">购买编码</th>
                    <th align="center">注册渠道</th>
                    <th align="center">红包金额</th>
                    <th align="center">首次购买时间</th>
                    <th align="center">短信回执编码</th>
                    <th align="center">红包发送状态</th>
                </tr>
                <foreach name="list" item="item">
                        <tr class="row">
                            <td><input type="checkbox" id="check_{$item.id}" alt="{$item.id}"></td>
                            <td align="center">{$item.real_name}</td>
                            <td align="center">{$item.username}&nbsp&nbsp<a href="{:C('ADMIN_ROOT')}/statistics/user_search/key/{$item.username}" target="_blank">直达</a> </td>
                            <td align="center">{$item.title}</td>
                            <td align="center">{$item.term}</td>
                            <td align="center">{$item.rechargeAmount}</td>
                            <td align="center">{$item.from}</td>
                            <td align="center">{$item.recharge_no}</td>
                            <td align="center">{$item.cons_value}</td>
                            <td align="center">{$item.amount}</td>
                            <td align="center">{$item.add_time}</td>
                            <td align="center">{$item.sms_msg}</td>
                            <td align="center">{$item.send}</td>
                        </tr>
                </foreach>
                <tr>
                    <td height="5" colspan="13" class="bottomTd"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--  分页显示区域 -->
        <!--endprint-->
        <div class="page">
            <div style="float:left;">总共送出红包数量：{$params.total_num}&nbsp;&nbsp;总共送出红包金额：{$total_red_amount}</div>
            {$show}
        </div>
        <!-- 列表显示区域结束 -->
    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
<script>
    var _page = "{$params.page}";
    var _start_time = "{$params.start_time}";
    var _end_time = "{$params.end_time}";
    var _layerIndex = 0;

    var start = {
        elem: '#start_time',
        format: 'YYYY-MM-DD',
        min: '1970-00-00 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: true,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end_time',
        format: 'YYYY-MM-DD',
        min: _start_time,
        max: '2099-06-16 23:59:59',
        istime: false,
        istoday: true,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);

    function printPage(){
        var bdhtml = window.document.body.innerHTML;
        var sprnstr = "<!--startprint-->";
        var eprnstr = "<!--endprint-->";
        var prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        var prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML = prnhtml;
        window.print();
    }
    function batch_send(){
        layer.confirm('确定要批量发送红包吗?', function(){
            _layerIndex = layer.load('发送中...');
            $.post(ROOT + "/activities/batch_send", {start_time: _start_time, end_time: _end_time}, function(msg){
                if(msg.status){
                    layer.alert('执行动作成功~', -1, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(msg.info);
                }
            });
        });
    }
    function excel_export(st,et,status){
        window.location.href =ROOT + "/activities/red_envelope_excel/st/"+st+"/et/"+et+"/status/"+status;
    }
    //获取用户现金券记录
    function getUserRedList(st,et,status){
        layer.confirm('确定要获取用户现金券记录吗?', function(){
            _layerIndex = layer.load('正在获取中...');
            $.post(ROOT + "/Activities/write_redWallet", {id: 1}, function(msg){
                layer.close(_layerIndex);
                if(msg.status){
                    layer.alert('获取成功~!', -1);
                    window.location.href =ROOT + "/activities/red_envelope/st/"+st+"/et/"+et+"/status/"+status;
                }else{
                    layer.alert(msg.info);
                }
            });
        });
    }
</script>
