<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">投资返券活动奖励配置 [ <a href="{:C('ADMIN_ROOT')}/activityAward/index">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <form id="frmMain" method='post' action="">
            <table cellpadding="3" cellspacing="3" >
                <input type="hidden" name="id" value="{$detail.id}" />
                <input type="hidden" name="type" value="{$detail.type}" />
                <tr>
                    <td class="tRight" width="150px">投资反券活动：</td>
                    <td class="tLeft">
                        <select id="a_id" name="a_id" class="bLeftRequire" disabled>
                            <option value="-1">请选择</option>
                            <foreach name="list" item="item">
                            <option value="{$item.id}" <eq name="detail.a_id" value="$item['id']">selected</eq>>{$item.name}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight" width="150px">券包类型：</td>
                    <td class="tLeft">
                        <select id="type" name="type" class="bLeftRequire" disabled >
							<option value="0" <eq name="detail.type" value="0">selected</eq>>请选择</option>
                            <option value="1" <eq name="detail.type" value="1">selected</eq>>红包</option>
                            <option value="2" <eq name="detail.type" value="2">selected</eq>>现金券</option>
                            <option value="3" <eq name="detail.type" value="3">selected</eq>>加息券</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">投资金额：</td>
                    <td class="tLeft" >
                    	<input type="text" class="bLeftRequire" datatype="n" id="min_amount" name="min_amount" value="{$detail.min_amount}"> - 
                    	<input type="text" class="bLeftRequire" datatype="n" id="max_amount" name="max_amount" value="{$detail.max_amount}">
                    &nbsp;<span style="color:#409DFE;">注：投资金额区间</span>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">标题：</td>
                    <td class="tLeft" >
                    	<input type="text" class="huge bLeftRequire" datatype="*" id="title" name="title" value="{$detail.title}">
                    </td>
                </tr>
                <tr>
                    <td class="tRight">内容：</td>
                    <td class="tLeft" >
                    	<input type="text" class="huge bLeftRequire" datatype="*" id="sub_title" name="sub_title" value="{$detail.sub_title}">
                		&nbsp;<span style="color:#409DFE;">注：红包内容;券包子标题</span>
                	</td>
                </tr>
                
                <tr>
                    <td class="tRight">金额：</td>
                    <td class="tLeft">
                    	<input type="text" class="bLeftRequire" datatype="*" id="amount" name="amount" value="{$detail.amount}"/>
                		&nbsp;<span style="color:#409DFE;">注：红包、现金券对应金额;券包对应利率</span>
                	</td>
                </tr>
                
                <tr>
                    <td class="tRight">最小投资金额：</td>
                    <td class="tLeft">
                    	<input type="text" class="bLeftRequire" datatype="n" id="min_invest_amount" name="min_invest_amount" value="{$detail.min_invest_amount}"/>
                    	&nbsp;<span style="color:#409DFE;">单位:元</span>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">最小投资期限：</td>
                    <td class="tLeft">
                    	<input type="text" class="bLeftRequire" datatype="n" id="min_invest_days" name="min_invest_days" value="{$detail.min_invest_days}"/>
                    	&nbsp;<span style="color:#409DFE;">单位:天</span>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">有效天数：</td>
                    <td class="tLeft">
                    	<input type="text" class="bLeftRequire" datatype="n" id="valid_days" name="valid_days" value="{$detail.valid_days}" />
                    	&nbsp;<span style="color:#409DFE;">单位:天（默认60天）</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _adding = false;
    var _layerIndex = 0;
    var enable = "{$enable}";
    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
            	
                if(enable == "1") {
                	layer.alert("活动已经开始，无法修改数据");
                	return false;
                }
            	
                if(_adding) return;
                _adding = true;
                _layerIndex = layer.load('数据提交中...');

                $.ajax({
                    url: ROOT + '/activityAward/edit',
                    data: $('#frmMain').serialize(),
                    type: "POST",
                    cache: false,
                    success: function(msg) {
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('编辑成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                        _adding = false;
                    }
                });
                return false;
            }
        });
    });
</script>