{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->
<script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
<!-- 主页面开始 -->
<div id="main" class="main" >

    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">每日统计</div>
        <!--  功能操作区域  -->
        <div class="operate" ></div>
        <!-- 功能操作区域结束 -->

        <!-- 列表显示区域  -->
        <div class="list" >
            <foreach  name="data" item="categorys" key="title">
                <p>{$cate_name.$title}用户</p>
                <div class="" style="clear:both;"></div>
                <table id="checkList" class="list" cellpadding="0" cellspacing="0" style="margin-bottom:30px;width:100%;">

                    <tbody>

                    <tr>
                        <td height="5" colspan="31" class="topTd"></td>
                    </tr>


                    <tr class="row">
                        <th width="150px" align="center">持续天数（天）</th>

                        <foreach  name="categorys" item="category"  key="k">
                            <th width="100px" align="center">{$k}</th>
                        </foreach>
                    </tr>
                    <tr class="row">
                        <th width="150px" align="center">用户数（人）</th>
                        <foreach  name="categorys" item="category"  key="k">
                            <th width="100px" align="center">{$category}</th>
                        </foreach>
                    </tr>

                    <tr class="row">
                        <th width="150px" align="center">操作</th>
                        <foreach  name="categorys" item="category"  key="k">
                            <th width="100px" align="center"><a href="{:C('ADMIN_ROOT')}/userCategory/export?type={$title}&days={$k}">下载</a></th>
                        </foreach>
                    </tr>


                    <tr>
                        <td height="5" colspan="31" class="bottomTd"></td>
                    </tr>
                    </tbody>
                </table>

            </foreach>
        </div>
    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
<script>

</script>