<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">{$name}</div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/layer3/layer.js"></script>
        <style>
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
            .string { color: green; }
            .number { color: darkorange; }
            .boolean { color: blue; }
            .null { color: magenta; }
            .key { color: red; }
        </style>
        <div class="list" >
            <table id="checkList" class="list" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height="3" colspan="3" class="topTd"></td>
                </tr>
                <tr class="row">
                    <th width="12%" align="center">日期</th>
                    <th width="10%" align="center">金额</th>
                </tr>

                <foreach name="list" item="item">
                    <tr>
                        <td>{$item.date}</td>
                        <td>{$item.value}元</td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
</div>
<script>
    var _layerIndex = 0;
    var _layerIndex2 = 0;
    var _action = 0;
    var _urlObj, _extObj;


    var _adding = false;


    var start = {
        elem: '#start_time',
        format: 'YYYY-MM-DD',
        min: '1970-00-00', //设定最小日期为当前日期
        max: '2099-06-16', //最大日期
        istime: false,
        istoday: true,
    };

    laydate(start);

</script>