<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$meta_title}</title>
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="author" content="{:C('META_AUTHOR')}" />
    <link rel="shortcut icon" href="{:C('WEB_ROOT')}/favicon.ico">
    <link href="{:C('STATIC_ROOT')}/ppmiao/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/ppmiao/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/ppmiao/js/jquery.js"></script>
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/ppmiao/js/flash.js"></script>
</head>

<body>
    <include file="PublicNew:menu" />
    
     <div class="bannerInner bannerInner02">
    	<ul>
            <li style="background:url({:C('STATIC_ROOT')}/ppmiao/images/MCServiceBanner.png) no-repeat scroll center top; display:block"><a href="#"></a></li>
        </ul>
    </div>
    
    <div class="MCPrivacyBox01Bg">
    	<div class="MCPrivacyBox01TitleBg fLe clear">
        	<i class="arrow03"></i>
        	<div class="MCPrivacyBox01Title w1003 clear"><h5>服务条款</h5></div>
        </div>
        <div class="MCPrivacyBox01Txt w1003 clear">
        	<div class="MCPrivacyBox01TxtInner fLe clear">
        		<p>看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣看空间空间看看立刻离开了看看的疯狂的送客服扣扣扣扣</p>
            </div>
        </div>
    </div>


    <!--footer begin-->
    <include file="PublicNew:footer" />
    <!--footer end-->
    
    <div id="top"></div>
    
</body>
</html>
