<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170413/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170413/css/style.css" rel="stylesheet" type="text/css" />
    <title>票票喵-活动细则</title>
    <style>

    </style>

</head>
<body style="background-color:#008140;">
    <section>
        <!--正文-->
        <div class="activity_world">
            <p>1、【注册有礼】每邀请一个好友注册成功，即可获得5元红包，多邀多得，上不封顶（红包使用规则：投资期限20天以上且投资金额≥1000元）；</p>
            <p>2、【首投再送】仅统计每月前20名首次投资的好友（奖励条件：好友须在注册之日起30天内完成首次投资）；</p>
            <p>3、【多投多得】仅累计好友在注册之日起30天内完成的投资总金额，投资金额累计截止当月最后一日，次月1日重新累计；</p>
            <p>4、投资项目仅限票票喵定期项目，不包含零钱喵钱包；</p>
            <p>5、为保证活动的公平性，邀请用户必须为真实用户，如遇作弊行为，将取消奖励资格；</p>
            <p>6、若出现冒（盗）用他人信息进行虚假交易，以骗取活动奖励等行为，票票喵有权撤销违规交易，活动奖励不予发放；</p>
            <p>7、票票喵保留在法律范围内对活动的解释权，票票喵客服热线：400-992-8855。</p>
        </div>
    </section>
</body>
</html>