* {
	margin: 0;
	border: 0;
	padding: 0;
}


/*body {
	overflow-x: hidden;
	background-color: #50d7d7;
}*/

/*[data-dpr="2"] .notice-text {
	font-size: 36px;
}

[data-dpr="3"] .notice-text {
	font-size: 54px;
}*/


/*index*/
.index_top{
	background-image: url("../images/duan_01.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	margin: auto;
	position: relative;
}
.index_tim{
position: absolute;
top:6.35rem;
width:10rem;
text-align: center;
}
.index_rules{
	background-image: url("../images/duan_02.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	margin: auto;
}
.index_lu{
	position: fixed;
	top:4.5rem;
	right:0;
	z-index: 100;
}
.index_lu img{
	width:0.75rem;
}
.index_ship1{
	background-image: url("../images/duan_03.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	position: relative;
	margin: auto;
}
.index_dump1{
	position: absolute;
	top:3.4rem;
	right:0.7rem;
}
.index_dump1 img{
	width:1.5rem;
}
.index_dump2{
	position: absolute;
	top:7rem;
	left:3.9rem;
}
.index_dump2 img{
	width:1.5rem;
}
.index_round1{
	position: absolute;
	width:0.8rem;
	height: 0.8rem;
	background-color:#ed4a4a;
	border:solid 0.05rem #fff;
	border-radius: 10rem;
	top:4.3rem;
	right:1.7rem;
	color: #fff300;
	line-height:0.8rem;
}
.index_round2{
	position: absolute;
	width:0.8rem;
	height: 0.8rem;
	background-color:#ed4a4a;
	border:solid 0.05rem #fff;
	border-radius: 10rem;
	top:7.9rem;
	left:3.5rem;
	color: #fff300;
	line-height:0.8rem;
}
.index_round3{
	position: absolute;
	width:0.8rem;
	height: 0.8rem;
	background-color:#ed4a4a;
	border:solid 0.05rem #fff;
	border-radius: 10rem;
	top:1.1rem;
	right:1.6rem;
	color: #fff300;
	line-height:0.8rem;
}
.index_round4{
	position: absolute;
	width:0.8rem;
	height: 0.8rem;
	background-color:#ed4a4a;
	border:solid 0.05rem #fff;
	border-radius: 10rem;
	top:4.8rem;
	left:3.8rem;
	color: #fff300;
	line-height:0.8rem;
}
.index_round5{
	position: absolute;
	width:0.8rem;
	height: 0.8rem;
	background-color:#ed4a4a;
	border:solid 0.05rem #fff;
	border-radius: 10rem;
	top:8.2rem;
	right:1.4rem;
	color: #fff300;
	line-height:0.8rem;
}
.index_ship2{
	background-image: url("../images/duan_04.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	position: relative;
	margin: auto;
}
.index_dump3{
	position: absolute;
	top:0.1rem;
	right:0.6rem;
}
.index_dump3 img{
	width:1.5rem;
}
.index_dump4{
	position: absolute;
	top:3.8rem;
	left:4.2rem;
}
.index_dump4 img{
	width:1.5rem;
}
.index_dump5{
	position: absolute;
	top:7.2rem;
	right:0.4rem;
}
.index_dump5 img{
	width:1.5rem;
}
.index_money{
	background-image: url("../images/duan_05.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	position: relative;
	margin: auto;
}
.index_mine{
	position: absolute;
	top:0.5rem;
	text-align: center;
	left:0.25rem;
	width:9.5rem;
	height:2.3rem;
	background-color: #36b3b3;
	border-radius:0.5rem;
	color:#fff;
	/*font-weight: bold;*/
	font-size: 0.4rem;
}
.index_mine span{
	color:#fff100;
}
.index_times{
	font-size:0.45rem;
	color:#6d3901;
	text-align: center;
	padding-top:9.3rem;
}
.index_times span{
	color:#fff100;
}
.index_rank{
	background-image: url("../images/duan_06.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	margin:auto;
}
.index_rule{
	background-image: url("../images/duan_07.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10rem;
	height: 10rem;
	text-align: center;
	margin:auto;
}
.index_name{
	width:95%;
	margin: auto;
	color: #fff;
	padding-top:1.7rem;
}
.index_name img{width:0.5rem;}
.index_number{
	padding-top:0.25rem;
	font-size: 0.34rem;
}
.index_number p{
	padding-top:0.1rem;
}
.cut25{width:25%;}
.fl{float:left;}
.tc{text-align:center;}
.clear{clear:both;}
.index_none{
  font-size: 0.5rem;
  color:#a0784d;
  padding-top:5rem;
}
.head_now {
		width: 100%;
		height: 1.2rem;
		line-height: 1.2rem;
		background-color: #fff300;
		color: #6d3901;
		font-size: 0.4rem;
		width:100%;position:fixed;bottom:0;left:0;
		text-align:center;
}
.head_now1 {
		width: 100%;
		height: 1.2rem;
		line-height: 1.2rem;
		background-color: #999999;
		color: #fff;
		font-size: 0.4rem;
		width:100%;position:fixed;bottom:0;left:0;
		text-align:center;
}


/*记录*/
.rules_bg{
	background-image: url("../images/bg1_02.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width:100%;
	height: 17.78rem;
	text-align: center;

}
.index_go{
	position: fixed;
	top:4.5rem;
	left:0;
	z-index: 100;
}
.index_go img{
	width:0.75rem;
}
.cut30{width:30%}
.cut40{width:40%}
.rules_number{
	color:#8c6b45;
	font-size:0.4rem;
	padding-top:0.5rem;
}
.rules_time{
	font-size: 0.4rem;
	padding-top:0.1rem;
}
.rules_none{
	padding-top:4rem;
}



/*弹框*/
.backgr{
		width: 100%;
		height: 100%;
		background: #000;
		position: fixed;
		opacity: .6;
		z-index: 11;
}
.tankuang{
		position: fixed;
		width: 95%;
		top: 40%;
		left: 20%;
}
.integral_content img{
		width:100%;
}

.integral_window {
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
}

.integral_content {
border-radius: 0.25rem;
width: 6rem;
background-color: #fff;
line-height: 2rem;
position: fixed;
text-align: center;
font-size: 0.4rem;
}
