<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20161220/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20161220/css/style.css" rel="stylesheet" type="text/css" />
	<script src="{:C('STATIC_ROOT')}/activity/js/common.js"></script>
    <title>票票喵</title>

</head>
<body>
    <section>
        <!--正文-->
        <div class="winer_pic">
            <img src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_01.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_02.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_03.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_04.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_05.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_06.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_07.jpg" />
            <img style="margin-bottom:42px;" src="{:C('STATIC_ROOT')}/activity/event20161220/images/cold_08.jpg" />
        </div>
        <div class="winer_now tc" style="cursor:pointer;" onclick="go2App();">
            <p>立即抢购</p>
        </div>
    </section>
    </body>
</html>