<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170118/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170118/css/style.css" rel="stylesheet" type="text/css" />
    <title>票票喵-爆款加息</title>

</head>
<body>
    <section>
        <!--正文-->
        <div class="news_pic">
            <img src="{:C('STATIC_ROOT')}/activity/event20170118/images/bao_01.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20170118/images/bao_02.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20170118/images/bao_03.jpg" />
            <img style="margin-bottom:42px;" src="{:C('STATIC_ROOT')}/activity/event20170118/images/bao_04.jpg" />
        </div>
        <div class="news_now tc" style="cursor:pointer;" onclick="go2App();">
            <p>立即投资</p>
        </div>
    </section>
    <script src="{:C('STATIC_ROOT')}/activity/js/common.js"></script>
    </body>
</html>