<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20161122/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20161122/css/style.css" rel="stylesheet" type="text/css" />
    <script src="{:C('STATIC_ROOT')}/activity/js/common.js"></script>
    <title>票票喵</title>
</head>
<body>
    <section>
        <!--正文-->
        <div class="th_pic">
            <img src="{:C('STATIC_ROOT')}/activity/event20161122/images/th_01.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161122/images/th_02.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161122/images/th_03.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161122/images/th_04.jpg" />
            <img style="margin-bottom:40px;" src="{:C('STATIC_ROOT')}/activity/event20161122/images/th_05.jpg" />
        </div>
        <div class="one_now tc" style="cursor:pointer;" onclick="go2App();">
            <p>立即抢购</p>
        </div>
    </section>
    </body>
</html>