<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20161229/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20161229/css/style.css" rel="stylesheet" type="text/css" />
    <script src="{:C('STATIC_ROOT')}/activity/js/common.js"></script>
    <title>票票喵 - 元旦</title>

</head>
<body>
    <section>
        <!--正文-->
        <div class="news_pic">
            <img src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_01.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_02.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_03.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_04.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_05.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_06.jpg" />
            <img style="margin-bottom:42px;" src="{:C('STATIC_ROOT')}/activity/event20161229/images/news_07.jpg" />
        </div>
        <div class="news_now tc" style="cursor:pointer;" onclick="go2App();">
            <p>立即抢购</p>
        </div>
    </section>
    </body>
</html>