<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>零钱喵说明</title>
    <meta name="viewport" content="user-scalable=no,width=device-width">
    <link href="{:C('STATIC_ROOT')}/mobile/css/wallet.css" rel="stylesheet" type="text/css"  media="all" />
</head>

<body id="contractBody">
<section class="wrapBox">
    <section class="contractListBox">

        <section class="contractList contractList02">
            “零钱喵”是票票喵理财推出的会生钱的电子钱包。
        </section>

        <section class="contractList contractList02">
            “零钱喵 ”兼顾收益率与流动性的平衡，是基于钱包债务人名下多张银行承兑汇票而设立的票据池所对应的活期化理财产品，具有到期银行无条件兑付的优点，风险几乎为零，收益稳健，天天结算，理财灵活，准入门槛低等特点。钱包账户资金由国有银行实时监管，票票喵理财作为信息中介方和风控方对其进行严格风控，钱包内资金按天计息，钱包利率依据所票据市场的价格波动轻微变化，综合收益率每日计算并进行定时更新。
        </section>


        <section class="contractList contractList02">
            【注：票票喵理财有权根据票据池风险控制方案，单方面结束“零钱喵”项目。若钱包项目结束，钱包利息结算至项目结束当日，预计于项目结束后的第2个工作日（T+1工作日）返还所有本息】
        </section>

        <section class="contractList contractList03">
            零钱喵答疑
        </section>

        <section class="contractList contractList08">
            1、	什么是“零钱喵”
        </section>

        <section class="contractList contractList04">
            “零钱喵”是票票喵理财推出的会生钱的电子钱包，“零钱喵”兼顾收益率与流动性的平衡；，是基于钱包债务人名下多张银行承兑汇票而设立的票据池所对应的活期化理财产品，具有到期银行无条件兑付的优点，风险几乎为零，收益稳健，天天结算，理财灵活，准入门槛低等特点。钱包账户资金由国有银行实时监管，票票喵理财作为信息中介方和风控方对其进行严格风控，钱包内资金按天计息，钱包利率依据所投项目的综合收益率每日计算并进行定时更新。
            （当日10:00更新当日年化利率）。
        </section>

        <section class="contractList contractList08">
            2、	“零钱喵”安全吗？
        </section>

        <section  class="contractList contractList04">
            “零钱喵”是基于银行承兑汇票所构成的票据池，到期由银行无条件承兑的一款银行承兑汇票资产管理计划产品，风险几乎为零，收益稳健，天天结算，理财灵活。
        </section>

        <section class="contractList contractList08">
            3、“零钱喵”内资金转出后多久时间到账？
        </section>

        <section  class="contractList contractList04">
            每日15:00之前申请提现，当天受理；每日15:00之后申请提现，T+1日受理，受理后资金正常情况下预计1-2个工作日内到账，注：若遇节假日到账时间将会顺延，利息结算至实际受理日。【如遇特殊情况，受理时间可相应顺延，但一般不超过7个工作日，利息结算至实际受理日】
        </section>


        <section class="contractList contractList08">
            4、把钱转入“零钱喵”，何时计息？
        </section>

        <section  class="contractList contractList04">
            资金转入“零钱喵”次日起息。
        </section>

        <section class="contractList contractList08">
            5、“零钱喵”年化利率何时更新，收益如何计算？
        </section>

        <section  class="contractList contractList04">
            “零钱喵”的当日年化利率于每日10:00更新；举例，投资者A在7月14日投资5000元至“零钱喵”，由于T+1日计息，所以7月15日客户端“昨日收益”显示为0元；7月15日钱包当日年化利率为7.1%，则7月16日客户端“昨日收益”显示为0.9726元（数据精确到小数点后四位）。
        </section>

        <section class="contractList contractList08">
            6、	票票喵理财其他产品到期后，是否支持自动转到“零钱喵”
        </section>

        <section  class="contractList contractList04">
            若用户购买票票喵理财产品到期后，想自动转入“零钱喵”，可通过票票喵理财设置；设置产品到期自动转入钱包,"我"->"账户设置"->"到期转入钱包"开关
        </section>

        <section class="contractList contractList08">
            7、“零钱喵”转入是否有手续费，是否有限制？
        </section>

        <section  class="contractList contractList04">
            “零钱喵”资金的转入不收取任何费用，最低转入资金为人民币1元，客户资金转入钱包没有次数限制，若通过银行卡将资金转入钱包，最大转入额度为银行当日限额，银行限额页面，点此查看
        </section>

        <section class="contractList contractList08">
            8、“零钱喵”转出是否有手续费，是否有限制？
        </section>

        <section  class="contractList contractList04">
            资金从“零钱喵”转出不收取任何费用，最低转出金额为人民币1元，客户每日可转出3次。
        </section>

        <section class="contractList contractList08">
            9、资金转入“零钱喵”有哪些方式？
        </section>

        <section  class="contractList contractList04">
            资金转入“零钱喵”支持两种方式：1、通过银行卡方式转入钱包；2、已购买的“票票喵理财”产品到期后自动转入钱包。
        </section>

        <section class="contractList contractList08">
            10、“零钱喵”本金转出当天是否有收益？
        </section>

        <section  class="contractList contractList04">
            “零钱喵”本金转出当日有收益。
        </section>

        <section class="contractList contractList08">
            11、“零钱喵”的年化收益率是恒定的，还是不断变化的？
        </section>

        <section  class="contractList contractList04">
            零钱喵的年化收益率会随着票据市场的价格变化而轻微波动，属于正常市场行为，请放心投资。
        </section>
        <section class="contractList contractList08">
            12、“零钱喵”额度限制么？
        </section>

        <section  class="contractList contractList04">
            平台根据票据池规模每天将不定期增开额度，可随时赎回已购理财，当其他用户进行赎回操作后，将空出相应金额的额度供大家抢购；
        </section>

    </section>
</section>
</body>
</html>