<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">编辑银行卡 [ <a href="{:C('ADMIN_ROOT')}/project/bank/p/{$params.page}<notempty name='params.key'>/key/{$params.key}</notempty>">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.form.js"></script>
        <form id="frmMain" method='post' action="">
            <input type="hidden" name="id" value="{$detail.id}" />
            <input type="hidden" name="page" value="{$params.page}" />
            <input type="hidden" name="key" value="{$params.key}" />
            <table cellpadding=3 cellspacing=3 >
                <tr>
                    <td class="tRight">银行编号：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="bank_code" name="bank_code" value="{$detail.bank_code}"></td>
                </tr>
                <tr>
                    <td class="tRight">银行名称：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="bank_name" name="bank_name" value="{$detail.bank_name}"></td>
                </tr>
                <tr>
                    <td class="tRight">支持范围：</td>
                    <td class="tLeft" >
                        <select name="support_area">
                            <option value="全国" <eq name="detail.support_area" value="全国">selected</eq>>全国</option>
                            <option value="区域" <eq name="detail.support_area" value="区域">selected</eq>>区域</option>
                            <option value="外资" <eq name="detail.support_area" value="外资">selected</eq>>外资</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tRight">卡种：</td>
                    <td class="tLeft" >
                        <select name="support_card_type">
                            <option value="借记卡" <eq name="detail.support_card_type" value="借记卡">selected</eq>>借记卡</option>
                            <option value="信用卡" <eq name="detail.support_card_type" value="信用卡">selected</eq>>信用卡</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">单次限额(元)：</td>
                    <td class="tLeft" >
                        <input type="text" name="limit_times" value="{$detail.limit_times}" />
                    </td>
                </tr>
                <tr>
                    <td class="tRight">单日限额(元)：</td>
                    <td class="tLeft" >
                        <input type="text" name="limit_day" value="{$detail.limit_day}" />
                    </td>
                </tr>
                <tr>
                    <td class="tRight">单月限额(元)：</td>
                    <td class="tLeft" >
                        <input type="text" name="limit_month" value="{$detail.limit_month}" />
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">图片(大)：</td>
                    <td class="tLeft" >
                    	<input type="hidden" name="icon" value="{$detail.icon}" />
                        <input type="file" class="bleftrequire" name="new_icon" id="new_icon" />
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">图片(小)：</td>
                    <td class="tLeft" >
                    	<input type="hidden" name="small_icon" value="{$detail.small_icon}" />
                        <input type="file" class="bleftrequire" name="new_small_icon" id="new_small_icon" />
                    </td>
                </tr>

                <tr>
                    <td class="tRight">状态：</td>
                    <td class="tLeft" >
                        <select name="bank_status">
                            <option value="1" <eq name="detail.status" value="1">selected</eq>>正常</option>
                            <option value="2" <eq name="detail.status" value="2">selected</eq>>维护中</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    var _adding = false;
    var _layerIndex = 0;
    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                _layerIndex = layer.load('数据提交中...');
                $("#frmMain").ajaxSubmit({
                    url: ROOT + '/project/bank_edit',
                    type: "post",
                    dataType: "json",
                    success: function(msg){
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('编辑成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                    }
                });
                return false;
            }
        });
        
        init();
    });
</script>
