<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">编辑产品 [ <a href="{:C('ADMIN_ROOT')}/Project/index/p/{$params.page}/status/{$params.status}<notempty name='params.search'>/s/{$params.search}</notempty>">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/auth/js/editor/kindeditor-all.js"></script>
        <form id="frmMain" method='post' action="" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{$detail.id}" />
            <input type="hidden" name="p" value="{$params.page}" />
            <input type="hidden" name="s" value="{$params.search}" />
            <input type="hidden" name="_status" value="{$params.status}" />
            <input type="hidden" name="days" value="{$detail.duration}" />
            <table cellpadding=3 cellspacing=3 >
            	
                 
                <tr>
                    <td class="tRight" width="150px">产品类型：</td>
                    <td class="tLeft">
                       		<span>票票喵</span> 
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">期数：</td>
                    <td class="tLeft"><input type="text" class="bLeftRequire" id="stage" name="stage" datatype="n" value="{$detail.stage}" onchange="changeStage(this)" <switch name="detail.status"><case value="1|6"></case><default />disabled</switch> /></td>
                </tr>
                <tr>
                    <td class="tRight">标题：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="title" name="title" value="{$detail.title}"></td>
                </tr>
                             
                 
                <tr>
                    <td class="tRight">显示分组：</td>
                    <td class="tLeft">
                        <select name="show_region" id="show_region">
                            <option value="0" <eq name="detail.show_region" value="0">selected</eq>>定期专区</option>
                            <option value="1" <eq name="detail.show_region" value="1">selected</eq>>活动专区</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">特殊标签：</td>
                    <if condition="(!in_array($detail['status'], [1,6])) ">
                        <input type="hidden" name="new_preferential" value="{$detail.new_preferential}"/>
                    </if>
                    <td class="tLeft">
                        <select name="new_preferential" id="new_preferential" <if condition="(!in_array($detail['status'], [1,6])) "> disabled </if> onchange="changenewPreferential()" >
                            <!--<option value="0" <eq name="detail.new_preferential" value="0">selected</eq>>普通标</option>-->
                            <!--<option value="1" <eq name="detail.new_preferential" value="1">selected</eq>>新人特惠</option>-->
                            <!--<option value="2" <eq name="detail.new_preferential" value="2">selected</eq>>爆款</option>-->
                            <!--<option value="3" <eq name="detail.new_preferential" value="3">selected</eq>>HOT</option>-->
                            <!--<option value="6" <eq name="detail.new_preferential" value="6">selected</eq>>活动</option>-->
                            <!--<option value="8" <eq name="detail.new_preferential" value="8">selected</eq>>私人专享</option>-->
                            <!--<option value="9" <eq name="detail.new_preferential" value="9">selected</eq>>月月加薪标</option>-->

                            <foreach name="special_tags" item="t">
                                <option value="{$t.id}" <eq name="detail.new_preferential" value="$t.id">selected</eq>  >{$t.tag_title}</option>
                            </foreach>

                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">等级限制：</td>
                    <td class="tLeft">
                        <select name="vip_id" id="vip_id" onchange="changeVipId()" >
                            <foreach name="vip" item="v">
                                <php>
                                    $vid = $v['id'];
                                </php>
                                <option value="{$vid}" data-value="{$v.name}"  <eq name="detail.vip_id" value="$vid">selected</eq> >{$v.name}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">可使用券包：</td>
                    <td class="tLeft">
                        <input type="checkbox" id="use_redenvelope" name="use_redenvelope" value="1" <eq name="detail.use_redenvelope" value="1">checked</eq> > 红包
                        <input type="checkbox" id="use_interest_coupon" name="use_interest_coupon" value="1" <eq name="detail.use_interest_coupon" value="1">checked</eq> > 加息券
                    </td>
                </tr>


                <tr>
                    <td class="tRight">产品公告标签：</td>
                    <td class="tLeft">
                        <input type="checkbox" id="is_notice_tag" name="is_notice_tag" <if condition="$detail.tag_id gt 9" > value="0" <else /> value="1"  checked </if>  > 与特殊标签一致
                    </td>
                </tr>
                <tr id="notice_tag" <if condition="$detail.tag_id elt  9" > style="display: none" </if > >
                    <td class="tRight"></td>
                    <td class="tLeft">
                        <select name="tag_id">
                            <foreach name="notice_tags" item="tag">
                                <option value="{$tag.id}" <eq name="detail.tag_id" value="$tag.id" > selected </eq> >{$tag.tag_title}</option>
                            </foreach>
                        </select>

                    </td>
                </tr>
                 
                <!-- 20160802 add -->
                <tr>
                    <td class="tRight">产品分组：</td>
                    <td class="tLeft">
                        <select name="project_group_id" id="project_group_id">
                            <option value="0">无</option>
                            <foreach name="project_group_list" item="item">
                            	<option value="{$item.id}" <eq name="detail.project_group_id" value="$item['id']">selected</eq> >{$item.name}</option>
                            </foreach>
                        </select>
                        <span style="color:#409DFE;">&nbsp;&nbsp;&nbsp; 注:选 ‘无’的选项，不会关联自动上标功能</span>
                    </td>
                </tr>
                
                             
                <tr>
                    <td class="tRight">融资方：</td>
                    <td class="tLeft">                    	
                    	<select name="financing" id="financing">                            
                            <foreach name="financing_list" item="item">
                            	<option value="{$item.id}" <eq name="detail.fid" value="$item['id']">selected</eq> >{$item.name}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">自定义标签：</td>
                    <td class="tLeft">
                    	<input type="text" id="custom_label" name="custom_label" maxlength="5" value="{$detail.custom_label}" />
                    	<span style="color:#409DFE;">&nbsp;&nbsp;&nbsp; 五个字以内</span>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">自定义权重值：</td>
                    <td class="tLeft">
                    	<input type="text" datatype="n" id="custom_weight" name="custom_weight" value="{$detail.custom_weight}" />
                    	<span style="color:#409DFE;">&nbsp;&nbsp;&nbsp; 填写纯数字</span>
                    </td>
                    
                </tr>
                
                <tr>
                    <td class="tRight">产品期限：</td>
                    <td class="tLeft">
                    	<select name="duration_type" id="duration_type">
                            <option value="1" <eq name="detail.duration_type" value="1">selected</eq>>1周标</option>
                            <option value="2" <eq name="detail.duration_type" value="2">selected</eq>>1月标</option>
                            <option value="3" <eq name="detail.duration_type" value="3">selected</eq>>2月标</option>
                            <option value="4" <eq name="detail.duration_type" value="4">selected</eq>>3月标</option>
                            <option value="5" <eq name="detail.duration_type" value="5">selected</eq>>6月标</option>
                        </select>
					</td>
                </tr>
                
                <tr>
                    <td class="tRight">合同编号：</td>
                    <td class="tLeft"><input type="text" id="contract_no" name="contract_no" value="{$detail.contract_no}" /></td>
                </tr>
                
                <!--<tr>
                    <td class="tRight">承兑银行：</td>
                    <td class="tLeft"><input type="text" id="accepting_bank" name="accepting_bank" value="{$detail.accepting_bank}" /></td>
                </tr>-->
                <tr>
                    <td class="tRight">验票托管：</td>
                    <td class="tLeft">                    	
                    	<textarea name="ticket_checking" id="ticket_checking" style="width:600px;height:70px;">{$detail.ticket_checking}</textarea>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" style="border-bottom:1px #F0F0FF solid;"></td>
                </tr>
                <!-- 
                <tr>
                    <td class="tRight">成标方式：</td>
                    <td class="tLeft">
                        <label>
                            <input type="radio" name="establish_type" value="1" <eq name="detail.establish_type" value="1">checked</eq>/>满额成标
                        </label>
                        <label>
                            <input type="radio" name="establish_type" value="2" <eq name="detail.establish_type" value="2">checked</eq> />定时成标
                        </label>
                        <label>
                            <input type="radio" name="establish_type" value="3" <eq name="detail.establish_type" value="3">checked</eq> />定额成标
                        </label>
                        
                        <span id="establish_type_2" style="display:none" >
                        	选择日期：<input type="text" class="bLeftRequire laydate-icon" name="establish_time" id="establish_time" value="{$detail.establish_time}" readonly />
                        </span>
                        
                        <span id="establish_type_3" style="display:none" >
							设置剩余金额：<input type="text" style="width:80px;" name="establish_amt" value="{$detail.establish_amt}">  &nbsp;&nbsp;单位 ‘元’
                        </span>
                        
                    </td>
                </tr>
                 -->
                <tr>
                    <td class="tRight tTop">可购买次数：</td>
                    <td class="tLeft"><input type="text" id="buy_times" name="buy_times" datatype="n" value="{$detail.buy_times|default=0}" />&nbsp;<span style="color:#409DFE;">注：0为不限制</span></td>
                </tr>
                <tr>
                    <td class="tRight tTop">起购封顶金额(元)：</td>
                    <td class="tLeft">
                        <input type="text" id="money_min" name="money_min" datatype="semoney" value="{$detail.money_min}" nullmsg="请填写信息！" errormsg="必须为数字！" <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if> /> -
                        <input type="text" id="money_max" name="money_max" datatype="semoney" value="{$detail.money_max}" nullmsg="请填写信息！" errormsg="必须为数字！" <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if> />&nbsp;<span style="color:#409DFE;">注：0为不限制</span>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">购买方式：</td>
                    <td class="tLeft">
                        <label>
                            <input type="radio" name="money_type" value="0" <eq name="detail.money_type" value="0">checked</eq> />起购金额的倍数购买
                        </label>
                        <label>
                            <input type="radio" name="money_type" value="1" <eq name="detail.money_type" value="1">checked</eq> />大于起购金额且是100的倍数购买
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="tRight tTop">起止时间：</td>
                    <td class="tLeft">
                        <input type="text" class="bLeftRequire laydate-icon" <if condition="($detail.status eq 1) OR ($detail.status eq 6) ">name="start_time"</if>  id="start_time" value="{$detail.start_time|strtotime|date='Y-m-d H:i',###}" readonly <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if> />
                        
                        <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">
                        	<input type="hidden" value="{$detail.start_time|strtotime|date='Y-m-d H:i',###}" name="start_time">
                        </if>
                        
                        <input type="text" class="bLeftRequire laydate-icon" <if condition="($detail.status eq 1) OR ($detail.status eq 6) ">name="end_time"</if> id="end_time" value="{$detail.end_time|strtotime|date='Y-m-d H:i',###}" readonly <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if> />
                        
                        <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">
                        	<input type="hidden" value="{$detail.end_time|strtotime|date='Y-m-d H:i',###}" name="end_time">
                        </if>
                        
                    <td>
                </tr>
                <tr>
                    <td class="tRight tTop">借款天数：</td>
                    <td class="tLeft"><span id="duration">0 天</span><td>
                </tr>
                <tr>
                    <td class="tRight">计息方式：</td>
                    <td class="tLeft">
                        <select id="count_interest_type" name="count_interest_type" class="bLeftRequire" datatype="*">  <!--disabled="disabled"-->
                            <option value="">--请选择计息方式--</option>
                            <!--<option value="1" <eq name="detail.count_interest_type" value="1">selected</eq>>T+0</option>-->
                            <option value="2" <eq name="detail.count_interest_type" value="2">selected</eq>>T+1</option>
                            <!--<option value="3" <eq name="detail.count_interest_type" value="3">selected</eq>>T+2</option>-->
                            <!--<option value="4" <eq name="detail.count_interest_type" value="4">selected</eq>>T+3</option>-->
                            <option value="5" <eq name="detail.count_interest_type" value="5">selected</eq> >满标起息</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight tTop">还款方式：</td>
                    <td class="tLeft">
                        <select id="repayment_type" name="repayment_type" class="bLeftRequire" datatype="*" onchange="changeRepayment(this)" disabled="disabled">
                            <option value="">--请选择还款方式--</option>
                            <option value="1" <eq name="detail.repayment_type" value="1">selected</eq>>一次性还本付息</option>
                            <option value="2" <eq name="detail.repayment_type" value="2">selected</eq>>按月付息，到期还本</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" style="border-bottom:1px #F0F0FF solid;"></td>
                </tr>
                <tr>
                    <td class="tRight">借款金额(元)：</td>
                    <td class="tLeft" ><input type="text" class="bLeftRequire" id="amount" name="amount" value="<?php echo (int)$detail['amount']; ?>" datatype="n" onchange="count_earn()" <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if>><span id="formatAmount" style="color:green"></span></td>
                </tr>
                <tr>
                    <td class="tRight">合同上的利息(%)：</td>
                    <td class="tLeft" ><input type="text" class="bLeftRequire" id="contract_interest" value="{$detail.contract_interest}" datatype="f" errormsg="请输入数字" name="contract_interest" onchange="count_earn()" <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if>></td>
                </tr>
                
                <tr>
                    <td class="tRight">给用户的利息(%)：</td>
                    <td class="tLeft" ><input type="text" class="bLeftRequire" id="user_interest" value="{$detail.user_interest}" datatype="f" errormsg="请输入数字" name="user_interest" onchange="count_earn()" <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if>></td>
                </tr>
                <tr>
                    <td class="tRight">平台补贴的利息(%)：</td>
                    <td class="tLeft" ><input type="text" class="bLeftRequire" id="user_platform_subsidy" value="{$detail.user_platform_subsidy}" datatype="f" errormsg="请输入数字" name="user_platform_subsidy" onchange="count_earn()" <if condition="($detail.status neq 1) AND ($detail.status neq 6) ">disabled</if>>注：此注填值,特殊标签必须选“加息”</td>
                </tr>
                
                
                <tr>
                    <td class="tRight">梯度加息：</td>
                    <td class="tLeft" >
                    	<select id="monthly_increase_group" name="monthly_increase_group" class="bLeftRequire" datatype="*" disabled >
                            <option value="0" >无</option>
                            <foreach name="mConfigList" item="item">
	                    		<option value="{$item.group_id}" <eq name="detail.monthly_increase_group" value="$item['group_id']">selected</eq> >{$item.name}</option>
	                    	</foreach>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" style="border-bottom:1px #F0F0FF solid;"></td>
                </tr>
                
                

                <tr class="hidden_descr" >
                    <td class="tRight tTop">上传相关图片操作区：</td>
                    <td class="tLeft">
                        <textarea id="invest_direction" name="upload_image" style="width:700px;height:200px;">{$detail.invest_direction}</textarea>
                    <td>
                </tr>
                <tr class="hidden_descr" >
                    <td class="tRight tTop">相关信息：</td>
                    <td class="tLeft">
                        <p>还款来源</p>
                        <textarea name="invest_direction_descr" style="width:700px;height:50px;">{$detail.invest_direction_descr}</textarea>
                        <p>相关协议(每行一个图片完整链接)</p>
                        <textarea name="invest_direction_image" style="width:700px;height:100px;">{$detail.invest_direction_image}</textarea>
                    </td>
                </tr>
                <tr class="hidden_descr" >
                    <td class="tRight tTop">资金保障：</td>
                    <td class="tLeft">
                        <input type="text" id="repayment_source_title" name="repayment_source_title" value="{$detail.repayment_source_title}" style="width:700px;margin-bottom:5px;" />
                    <td>
                </tr>
                
                <tr>
                    <td class="tRight">汇票类型：</td>
                    <td class="tLeft" id="draft_type">

                        <!--<label>-->
                        <!--<input type="radio" name="draft_type" value="0" checked />银行承兑汇票-->
                        <!--</label>-->
                        <!--<label>-->
                        <!--<input type="radio" name="draft_type" value="1" />电子银行承兑汇票-->
                        <!--</label>-->
                    </td>
                </tr>
                <tr>
                    <td class="tRight">承兑机构：</td>
                    <td class="tLeft" >
                        <input type="text" name="accepting_bank" value="{$detail.accepting_bank}" >
                    </td>
                </tr>
                <tr style="display: none">
                    <td class="tRight">担保方：</td>
                    <td class="tLeft">

                    </td>
                </tr>

                <!--<input type="hidden" name="gid" value="0">-->

                <tr>
                    <td class="tRight">担保类型：</td>
                    <td class="tLeft" id="guaranty_type">
                    </td>
                </tr>
                <tr>
                    <td class="tRight">担保机构：</td>
                    <td class="tLeft" >
                        <input type="text" name="guaranty_institution"  value="{$detail.guaranty_institution}" >
                    </td>
                </tr>
                
                <tr class="hidden_descr">
                    <td class="tRight tTop">汇票信息：</td>
                    <td class="tLeft">
                        <p>银行承兑汇票(每行一个图片完整链接)</p>
                        <textarea name="repayment_source_descr" style="width:700px;height:100px;">{$detail.repayment_source_descr}</textarea>
                        <!-- <p>电子银行承兑汇票(每行一个图片完整链接)</p>
                        <textarea name="repayment_source_image" style="width:700px;height:100px;">{$detail.repayment_source_image}</textarea>
                    	 -->
                    </td>
                </tr>
                <tr class="hidden_dxg">
                    <td colspan="2" style="border-bottom:1px #F0F0FF solid;"></td>
                </tr>
                <tr>
                    <td class="tRight">预售倒计时：</td>
                    <td class="tLeft" >
                        <select id="countdown" name="countdown" onchange="showTime(this.options[this.options.selectedIndex].value)">
                            <option value="0" <eq name="detail.is_countdown" value="0">selected</eq>>关闭</option>
                            <option value="1" <eq name="detail.is_countdown" value="1">selected</eq>>开启</option>
                        </select>
                        <span id="showtime" style="display:<eq name="detail.is_countdown" value="0">none</eq>;">开始前<input type="text" style="width:50px;" name="countdown_show_min" value="{$detail.countdown_show_min}">分钟在App中显示</span>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">幽灵账户自动购买：</td>
                    <td class="tLeft" >
                        <select id="autobuy" name="autobuy" onchange="autoBuyTime(this.options[this.options.selectedIndex].value)">
                            <option value="0"  <eq name="detail.is_autobuy" value="0">selected</eq>>关闭</option>
                            <option value="1" <eq name="detail.is_autobuy" value="1">selected</eq>>开启</option>
                        </select>
                        <span id="buytime" style="display:<eq name="detail.is_autobuy" value="0">none</eq>;">开始时间<input type="text" class="bLeftRequire laydate-icon" <eq name="detail.is_autobuy" value="1">value="{$detail.start_auto_buy_time|strtotime|date='Y-m-d H:i',###}"</eq>  name="auto_buy_min" id="auto_buy_min" readonly /></span>
                    </td>
                </tr>
                <tr id="buyuser" style="display:<eq name="detail.is_autobuy" value="0">none</eq>;">
                    <td class="tRight">幽灵账户选择<input type="button" onclick="checkOrUnCheck()" value="全选/反选">：</td>
                    <td class="tLeft" >
                        <volist name="users" id="user" key="k">
                            <lable for="user_{$user.2}">
                                <input  class="input_users" <in name="user.2" value="$auto_buy_users">checked</in> id="user_{$user.2}" name="users[]" type="checkbox" value="{$user.2}">{$user.2}
                            </lable>
                            &nbsp;
                        </volist>
                    </td>
                </tr>
                               
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            
                            <if condition="checkAuth('Admin/project/project_copy') eq true"> 
                            <if condition="$detail.status eq 7">
								<input type="button" value="复制标" style="color:green;" onclick="copy(this, {$detail.id})" class="button" >
							</if>
							</if>
                            
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<php>
    $status_detail = !in_array($detail['status'], [1,6])?1:0;
</php>

<script>

    var status_el = "{$status_detail}";

    if(status_el>0){
        $('#monthly_increase_group').attr("disabled",true);
        $('#monthly_increase_group').attr('id','monthly_increase');
    }

    $('#is_notice_tag').click(function() {
        if ($(this).val() == 1){
            $('#notice_tag').show();
            $(this).val(0);
        }else{
            $('#notice_tag').hide();
            $(this).val(1);
        }
    });

    var start = {
        elem: '#start_time',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: '1970-00-00 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: true,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
            count_duration();
        }
    };
    var end = {
        elem: '#end_time',
        format: 'YYYY-MM-DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: true,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
            count_duration();
        }
    };
    
    var auto_buy_min = {
            elem: '#auto_buy_min',
            format: 'YYYY-MM-DD hh:mm',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: true,
            choose: function(datas){
               
            }
        };
    
	/*
    var establish_time = {
  	    elem: '#establish_time',
  	    format: 'YYYY-MM-DD hh:mm',
  	    min: laydate.now(),
  	    max: '2099-06-16 23:59:59',
  	    istime: true,
  	    istoday: true,
  	    choose: function(datas){

  	    }
  	};
      */
      
    //laydate(establish_time);
    laydate(auto_buy_min);
    laydate(start);
    laydate(end);

    function changeHideDescription(_obj){
        if($(_obj).is(':checked')){
            $(".hidden_descr").css('display', 'none');
        }else{
            $(".hidden_descr").css('display', '');
        }
    }
    function showTime(opt){
        if (opt == 1) {
            $('#showtime').show();
        } else {
            $('#showtime').hide();
        }
    }
    function autoBuyTime(opt){
        if (opt == 1) {
            $('#buyuser').show();
            $('#buytime').show();
        } else {
            $('#buyuser').hide();
            $('#buytime').hide();
        }
    }
    function checkOrUnCheck(){
        $('.input_users').each(function(){
//            console.log(1);
            console.log($(this).attr("checked"));

            if($(this).attr("checked") == 'checked'){
                $(this).attr("checked", false);
            } else {
                $(this).attr("checked", true);
            }

        })
    }
    
    changeHideDescription($("#hide_description"));

    function changenewPreferential(){
    	var v = $("#new_preferential").val();
    	if(v == 1) {
    		$("#duration_type").empty().append('<option value="1">1周标</option><option value="2">1月标</option><option value="3">2月标</option><option value="4">3月标</option><option value="5">6月标</option>');
    		//购买次数设为  1
    		$("#buy_times").empty().val('1');
    		$("#money_min").empty().val(100);
    		$("#money_max").empty().val(10000);
    	} else {
    		$("#duration_type").empty().append('<option value="2">1月标</option><option value="3">2月标</option><option value="4">3月标</option><option value="5">6月标</option>');
    		$("#buy_times").empty().val('0');
    		$("#money_min").empty().val('0');
    		$("#money_max").empty().val('0');
    	}
    	
    	if(v == 9){
    		$('#monthly_increase_group').attr("disabled",false);
    		$("#user_platform_subsidy").attr('value',0);
    		$("#user_platform_subsidy").attr('disabled',true); 
    	} else {
    		$('#monthly_increase_group').attr("disabled",true);
    		$("#user_platform_subsidy").attr('value','');
    		$("#user_platform_subsidy").attr('disabled',false);
    	}
    	
    	$.post(ROOT + "/Common2/getProjectGroupInfo", {tga_id: v}, function(msg){
    		if(msg.status){
    			console.log(msg.info);
                var s = "<option value='0'>无</option>";
                for (item in msg.info) {
                	s += "<option value='"+msg.info[item].id+"'>"+msg.info[item].name+"</option>";
                }
                $("#project_group_id").empty().html(s);
            }
        });
    }
    
    var tag = "{$detail.new_preferential}";
    var pgid = "{$detail.project_group_id}";


    function changeVipId() {
        var vipName = $("#vip_id option:selected").attr('data-value');

        $('input[name=custom_label]').val(vipName + '及以上');
    }

    function initGroup(){
    	
    	var v = $("#new_preferential").val();
    	if(9 == v){
    		$('#monthly_increase_group').attr("disabled",false);
    		$("#user_platform_subsidy").attr('value',0);
    		$("#user_platform_subsidy").attr('disabled',true); 
    	}
    	
    	$.post(ROOT + "/Common2/getProjectGroupInfo", {tga_id: tag}, function(msg){
    		if(msg.status){
    			//console.log(msg.info);
                var s = "";
                
                if(pgid == '0' ){
                	s += "<option value='0' selected>无</option>";
                } else {
                	s += "<option value='0'>无</option>";
                }
                
                for (item in msg.info) {
                	if(pgid == msg.info[item].id) {
                		s += "<option value='"+msg.info[item].id+"' selected >"+msg.info[item].name+"</option>";
                	} else {
                		s += "<option value='"+msg.info[item].id+"'>"+msg.info[item].name+"</option>";
                	}
                	
                }
                $("#project_group_id").empty().html(s);
            }
        });
    }
    
    initGroup();
    
    /*
    
    var establish_type = "{$detail.establish_type}";
	function initEstablishType(){
    	if(establish_type == 2){
    		$("#establish_type_2").css('display', 'block');
    		$("#establish_type_3").css('display', 'none');
    	} else if(establish_type == 3){
    		$("#establish_type_2").css('display', 'none');
    		$("#establish_type_3").css('display', 'block');
    	}
    } 
	$('input:radio[name="establish_type"]').change( function(e){
    	var value = $(e.target).val();
    	if(value == 1){
    		$("#establish_type_2").css('display', 'none');
    		$("#establish_type_3").css('display', 'none');
    	}else if(value == 2){
    		$("#establish_type_2").css('display', 'block');
    		$("#establish_type_3").css('display', 'none');
    	} else {
    		$("#establish_type_2").css('display', 'none');
    		$("#establish_type_3").css('display', 'block');
    	}
    });
    
    initEstablishType();
    */
    
</script>
<script type="application/javascript" src="__PUBLIC__/admin/js/project_edit.js?v=0.121"></script>