<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">编辑产品分组信息 [ <a href="{:C('ADMIN_ROOT')}/project/project_group">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <form id="frmMain" method='post' action="">
            <input type="hidden" name="id" value="{$detail.id}" />
            <table cellpadding=3 cellspacing=3 >
                <tr>
                    <td class="tRight">分组名称：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="name" name="name" value="{$detail.name}"></td>
                </tr>
                
                <tr>
                    <td class="tRight">所属标签：</td>
                    <td class="tLeft">
                        <select name="tag" id="tag">
                            <option value="0" <eq name="detail.tag" value="0">selected</eq>>普通标</option> 
                            <option value="1" <eq name="detail.tag" value="1">selected</eq>>新人特惠</option> 
                            <option value="2" <eq name="detail.tag" value="2">selected</eq>>爆款</option> 
                            <option value="3" <eq name="detail.tag" value="3">selected</eq>>HOT</option>
                            <option value="6" <eq name="detail.tag" value="6">selected</eq>>活动</option> 
                            <option value="8" <eq name="detail.tag" value="8">selected</eq>>私人专享</option> 
                            <option value="9" <eq name="detail.tag" value="9">selected</eq>>私人专享</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tRight">分组描述：</td>
                    <td class="tLeft" ><textarea name="memo" id="memo" class="huge" style="height:100px;" maxlength="255">{$detail.memo}</textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <!--<input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >-->
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _adding = false;
    var _layerIndex = 0;
    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                if(_adding) return;
                _adding = true;
                _layerIndex = layer.load('数据提交中...');
                $.ajax({
                    url: ROOT + '/project/project_group_edit',
                    data: $('#frmMain').serialize(),
                    type: "POST",
                    cache: false,
                    success: function(msg) {
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('编辑成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                        _adding = false;
                    }
                });
                return false;
            }
        });
    });
</script>