<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">编辑产品分类 [ <a href="{:C('ADMIN_ROOT')}/project/project_type/p/{$params.page}">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <form id="frmMain" method='post' action="">
            <input type="hidden" name="id" value="{$detail.id}" />
            <input type="hidden" name="page" value="{$params.page}" />
            <table cellpadding=3 cellspacing=3 >
                <tr>
                    <td class="tRight">分类标识：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="cons_key" name="cons_key" value="{$detail.cons_key}"></td>
                </tr>
                <tr>
                    <td class="tRight">分类名称：</td>
                    <td class="tLeft" ><input type="text" class="huge bLeftRequire" datatype="*" id="cons_value" name="cons_value" value="{$detail.cons_value}"></td>
                </tr>
                <tr>
                    <td class="tRight">分类描述：</td>
                    <td class="tLeft" ><textarea name="cons_desc" id="cons_desc" class="huge" style="height:100px;" maxlength="255">{$detail.cons_desc}</textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:85%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;resetEditor()" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _adding = false;
    var _layerIndex = 0;
    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                if(_adding) return;
                _adding = true;
                _layerIndex = layer.load('数据提交中...');
                $.ajax({
                    url: ROOT + '/project/project_type_edit',
                    data: $('#frmMain').serialize(),
                    type: "POST",
                    cache: false,
                    success: function(msg) {
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('编辑成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                        _adding = false;
                    }
                });
                return false;
            }
        });
    });
</script>