@charset "utf-8";
        .invite_pic img {
            width: 100%;          
        }


        .invite_now {
            width: 100%;
            line-height: 50px;
            background-color: #FE7C2F;
            color: #ffffff;
            font-size: 17px;
           width:100%;position:fixed;bottom:0;left:0;
        }




