<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170303/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170303/css/style.css" rel="stylesheet" type="text/css" />
    <title>票票喵 -38女神</title>


</head>
<body>
    <section>
        <!--正文-->
        <div class="invite_pic">
            <img src="{:C('STATIC_ROOT')}/activity/event20170303/images/hot_01.jpg" />
            <img src="{:C('STATIC_ROOT')}/activity/event20170303/images/hot_02.jpg" style="margin-top:-1px;" />
            <img src="{:C('STATIC_ROOT')}/activity/event20170303/images/hot_03.jpg" style="margin-top:-1px;" />
            <img src="{:C('STATIC_ROOT')}/activity/event20170303/images/hot_04.jpg" style="margin-bottom:50px;" />
        </div>
        <div class="invite_now tc" style="cursor:pointer;" onclick="go2App();">
            <p>立即投资</p>
        </div>
    </section>
    <script src="{:C('STATIC_ROOT')}/activity/js/common.js"></script>
</body>
</html>