<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN">
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170224/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/event20170224/css/style.css" rel="stylesheet" type="text/css" />
    <title>票票喵-龙抬头</title>

</head>
<body>
    <section>
        <!--正文-->
        <div class="head_pic">
            <img src="{:C('STATIC_ROOT')}/activity/event20170224/images/garon_01.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20170224/images/garon_02.jpg" />
            <img style="margin-top:-1px;" src="{:C('STATIC_ROOT')}/activity/event20170224/images/garon_03.jpg" />
            <img style="margin-bottom:42px;" src="{:C('STATIC_ROOT')}/activity/event20170224/images/garon_04.jpg" />
        </div>
        <div class="head_now tc" style="cursor:pointer;" onclick="go2App();">
            <p>立即投资</p>
        </div>
    </section>
    <script src="{:C('STATIC_ROOT')}/activity/js/common.js"></script>
    </body>
</html>