<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta charset="utf-8">
    <link href="{:C('STATIC_ROOT')}/activity/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/activity/css/style.css" rel="stylesheet" type="text/css" />
    <title>票票喵</title>


</head>
<body>
    <section>
        <div class="register_pic">
            <img src="{:C('STATIC_ROOT')}/activity/images/header.jpg" />
            <img style="margin-top:-2px;" src="{:C('STATIC_ROOT')}/activity/images/look_02.jpg" />
        </div>
        <div class="register_download tc">
            <div class="register_member" style="margin-top:-1px;">
                <p>325现金大礼包已发送至您账户,请下载APP查收</p>
            </div>
            <div class="check_app " style="cursor:pointer" >
                <a href="{$url}"><img src="{:C('STATIC_ROOT')}/activity/images/button2.png" /></a>
            </div>
        </div>

    </section>
</body>
</html>