<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<script src="https://image.ppmiao.com/Public/js/flexible.js"></script>
	<script src="https://image.ppmiao.com/Public/js/flexible_css.js"></script>
	<script src="https://image.ppmiao.com/Public/js/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="https://image.ppmiao.com/Public/channel/20171121_channel/css/channel.css">
	<title>票票喵</title>
</head>

<body>
	<!-- 弹框 -->
	<div class="pop">
		<div class="dialog">
			<div class="top"> 请输入验证码 </div>
			<div class="bottom">
				确定
			</div>
		</div>
	</div>

	<!-- 弹框 -->

	<!-- 已注册 -->
	<div class="container">
		<div class="img00 channel_01"></div>
		<div class="img00 channel_02">
			<div class="download">
				下载APP
			</div>
		</div>
	</div>

	

	<script>
		$('.download').click(function() {			
			window.location.href= "{$url}";
		})
		
	</script>	
</body>

</html>
