@charset "utf-8";
        .winer_pic img {
            width: 100%;
        }

        .winer_now {
            width: 100%;
            line-height: 50px;
            background-color: #89b9d8;
            color: #ffffff;
            font-size: 17px;
            width:100%;position:fixed;bottom:0;left:0;
            text-align:center;
        }
