{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->

<!-- 主页面开始 -->
<div id="main" class="main" >

    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">消息评论</div>
        <!--  功能操作区域  -->
        <div class="operate" >
            <!-- 查询区域 -->

            <!-- 高级查询区域 -->
        </div>
        <!-- 功能操作区域结束 -->

        <!-- 列表显示区域  -->
        <div class="list" >
            <table id="checkList" class="list" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height="5" colspan="9" class="topTd"></td>
                </tr>
                <tr class="row">
                    <th width="8px"><input type="checkbox" id="check" onclick="CheckAll(this, 'checkList')"></th>
                    <th width="50px">编号</th>
                    <th width="120px">用户名</th>
                    <th width="200px">来源</th>
                    <th width="300px">内容</th>
                    <th width="80px">状态</th>
                    <th width="120px">IP</th>
                    <th width="150px">发表时间</th>
                    <th width="*">操作</th>
                </tr>
                <foreach name="list" item="item">
                    <tr>
                        <td></td>
                        <td>{$item.id}</td>
                        <td>{$item.username}</td>
                        <td>{$item.msg_title}</td>
                        <td>{$item.content}</td>
                        <td><eq name="item.status" value="1"><a href="javascript:;" onclick="verify(this, {$item.id})" style="color:red;">未审核</a><else/><span style="color:green;">已审核</span></eq></td>
                        <td>{$item.ip}</td>
                        <td>{$item.add_time|strtotime|date='Y-m-d H:i:s',###}</td>
                        <td>
                            <if condition="checkAuth('Admin/message/comment_delete') eq true"><a href="javascript:;" style="color:red;" onclick="del({$item.id})">删除</a>&nbsp;</if>
                        </td>
                    </tr>
                </foreach>
                <tr>
                    <td height="5" colspan="9" class="bottomTd"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--  分页显示区域 -->
        <div class="page">{$show}</div>
        <!-- 列表显示区域结束 -->
    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
<style>
    .icon_add{
        background-image: url('{:C("STATIC_ADMIN")}/auth/images/icon_open.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding-left: 25px;
    }
    .icon_close{
        background-image: url('{:C("STATIC_ADMIN")}/auth/images/icon_close.png');
    }
    .subitem{background-color: whitesmoke!important;}
</style>
<script>
    var _layerIndex = 0;

    function del(_id){
        layer.confirm('确认删除吗?', function(){
            _layerIndex = layer.load('正在删除中...');
            $.post(ROOT + "/message/comment_delete", {id: _id}, function(msg){
                layer.close(_layerIndex);
                if(msg.status){
                    window.location.reload();
                }else{
                    layer.msg(msg.info, 1, -1);
                }
            });
        });
    }
    function verify(_obj, _id){
        layer.confirm('确定审核通过吗?', function(){
            _layerIndex = layer.load('数据提交中...');
            $.post(ROOT + "/message/comment_verify", {id: _id}, function(msg){
                layer.close(_layerIndex);
                if(msg.status){
                    var parent = $(_obj).parent();
                    parent.html('<span style="color:green;">已审核</span>');
                }else{
                    layer.msg(msg.info, 1, -1);
                }
            });
        });
    }
</script>