<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<script src="{:C('STATIC_ROOT')}/new_ppmiao/js/jquery.min.js"></script>
<script src="{:C('STATIC_ROOT')}/new_ppmiao/js/tupianlunbo.js"></script>
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/basic.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/style.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/style2.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/tupianlunbo.css" rel="stylesheet" type="text/css"/>
<title>{$meta_title}</title>

</head>
<style>
.content{ position:absolute;opacity:0.7;z-index:3; width: 100%;filter:alpha(opacity=70);}
.about_banner{margin-top:-96px;}<!--第二导航条透明度-->



</style>
<style>
.about_banner img{display: block;width: 100%;}
</style>
<style>
.business1 img{width:200px;margin-top:50px;}
.about_born p{line-height:35px;font-size:15px;margin-top:35px;}
</style>
<body style="min-width:1200px;">
	
	<include file="Public:menu" />
	
	<div class="about_banner">
            <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/about_02.jpg"/>
        </div>
        <div class="about_us mar">
            <div class="about_we">
                <p>关于我们</p>
            </div>
            <div class="about_line"></div>
            <div class="about_born">
                <p><span>票票喵是杭州富谦网络科技有限公司旗下的互联网金融理财平台。票票喵于2016年1月18日正式上线，创始人和核心管理团队由银行、金融、互联网等领域的资深人才组建而成，票票喵专注于银行承兑汇票，到期无条件兑付、票据全程托管、资金透明安全、风控稳健可控、收益稳定高效，为企业及个人精心打造“让金融更简单，让理财更放心”的理财新模式。</span></p>
            </div>
        </div>
        
        <div class="about_what bg6">
            <div class="about_us mar">
                <div class="about_we">
                    <p>票票喵是什么？</p>
                </div>
                <div class="about_line"></div>
                <div class="about_born">
                    <p><span>票票喵理财平台是诞生于传统票据业务行业，发展于互联网时代。是互联网与金融理财的一次完美的邂逅。其创始人和核心管理团队均由银行、金融、法律、互联网领域的资深专业人士构成。团队凭借多年扎根票据市场的人脉和资源，引入银行风险管理模式，去除中间环节，将现行产品与网络思维深度结合，专注致力于为广大用户打造一个在您身边为您服务的、信息透明、风险可控、收益稳定的互联网家庭投资理财平台。</span></p>
                </div>
            </div>
        </div>
        
        <div class="about_us mar">
            <div class="about_we">
                <p>我们的资质</p>
            </div>
            <div class="about_line"></div>
            <div class="about_born">
                <div class="business cut25 fl tc">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/photo_05.png" style="width:216px;"/>
                    <p>营业执照</p>
                </div>
                
                <div class="business1 cut25 fl tc">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/or.jpg" style="width:204px;"/>
                    <p class="mtop2">验资报告</p>
                </div>
                
                <div class="business1 cut25 fl tc">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/about_1.jpg" style="width:202px;"/>
                    <p class="mtop2">增值电信业务经营许可证</p>
                </div>
                <div class="business1 cut25  fl tc">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/about_2.jpg" style="margin-bottom:55px;width;202px;"/>
                    <p class="mtop2">票票喵著作权登记证书</p>
                </div>
                
                <div class="clear"></div>
                
                <div class="business4 fl cut25">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/3-3.jpg" style="margin-bottom:50px;width:195px;" />
                    <p class="mtop2">平安银行票据托管协议</p>
                </div>
                <div class="business4 cut25 fl ">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/far.png" style="margin-bottom:50px;width:200px;" />
                    <p class="mtop2">企业法律顾问合同书</p>
                </div>
                
                <div class="business4 cut50 fl ">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/qy.jpg" style="margin-bottom:50px;width:409px;" />
                    <p class="mtop2">厦门国际银行资金存管协议</p>
                </div>
                <div class="clear"></div>
                
                
              <div class="business cut40 fl tc">
                    <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/22_07.png"/>
                    <p>开户许可证</p>
              </div>
              <div class="business cut40 fl tc">
                  <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/22_09.png"/>
                <p>机构信用代码证</p>
              </div>
            </div>
        </div>
        <div class="clear"></div>
        
		<!--底部导航-->
		<include file="Public:footer" />
</body>
 
 <!--点击二维码显示隐藏-->
<script>
	var IsPopup = false;
	function IsPass() {
		if (IsPopup) {
			document.getElementById("index_bj").className = "hidden";
			document.getElementById("index_window").className = "hidden";
			IsPopup = false;
		} else {
			document.getElementById("index_bj").className = "index_bj abs";
			document.getElementById("index_window").className = "index_window abs";       
			IsPopup = true;
		}
	}
</script>
</html>
