<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<script src="{:C('STATIC_ROOT')}/new_ppmiao/js/jquery.min.js"></script>
<script src="{:C('STATIC_ROOT')}/new_ppmiao/js/tupianlunbo.js"></script>
<script type="{:C('STATIC_ROOT')}/new_ppmiao/js/weixin/jquery-1.8.2.min.js"></script>
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/basic.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/style.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/style2.css" rel="stylesheet" type="text/css" />
<link href="{:C('STATIC_ROOT')}/new_ppmiao/css/tupianlunbo.css" rel="stylesheet" type="text/css"/>
<title>{$meta_title}</title>

</head>
<style>
.content{ position:absolute;opacity:0.7;z-index:3; width: 100%;filter:alpha(opacity=70);}
.about_banner{margin-top:-96px;}<!--第二导航条透明度-->
.about_banner img{display: block;width: 100%;}


</style>
<style>
.about_banner img{display: block;width: 100%;}
</style>
<style>
.map img{width:100%;}
</style>
<body style="min-width:1200px;">
      
      <include file="Public:menu" />

	<div class="about_banner">
            <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/connect_03.jpg"/>
        </div>
        <div class="about_us mar">
            <div class="about_we">
                <p>产品及常见问题</p>
            </div>
            <div class="about_line2"></div>
        </div>
        <div class="connect_question mar">
        	<div class="connect_money ">
            	<a href="help.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_03.png"/></a>
                <a href="help.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_08.png"/></a>
                <a href="help.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_05.png"/></a>
                <a href="product.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_10.png"/></a>
            </div>
            <div class="connect_money">
            	<a href="help.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_14.png"/></a>
                <a href="help.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_16.png"/></a>
                <a href="dynamic.html"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_19.png"/></a>
                <a href="/"><img class="fl" src="{:C('STATIC_ROOT')}/new_ppmiao/images/222_18.png"/></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="connect_work tc">
        	<p>我们愿以耕耘 化作您的收获      我们努力的动力 来自您的肯定</p>
        </div>
        <div class="map tc">
        	<img src="{:C('STATIC_ROOT')}/new_ppmiao/images/dt.jpg">
        </div>

        <!--底部导航-->
		<include file="Public:footer" />

 
 <!--点击二维码显示隐藏-->
<script>
	var IsPopup = false;
	$(function(){
        
        $(".connect_question img").css('opacity','0.6');
        $(".connect_question .connect_money:eq(0) img").mouseover(function(e){
             $(this).css('opacity','1.0').siblings().stop().css('opacity','0.6');
        });
        $(".connect_question .connect_money:eq(0) img").mouseout(function(e){
             $(this).css('opacity','0.6').siblings().stop().css('opacity','0.6');
        });
        $(".connect_question .connect_money:eq(1) img").mouseover(function(e){
             $(this).css('opacity','1.0').siblings().stop().css('opacity','0.6');
        });
        $(".connect_question .connect_money:eq(1) img").mouseout(function(e){
             $(this).css('opacity','0.6').siblings().stop().css('opacity','0.6');
        });
    });
	function IsPass() {
		if (IsPopup) {
			document.getElementById("index_bj").className = "hidden";
			document.getElementById("index_window").className = "hidden";
			IsPopup = false;
		} else {
			document.getElementById("index_bj").className = "index_bj abs";
			document.getElementById("index_window").className = "index_window abs";
			IsPopup = true;
		}
	}
</script>
</html>
