<div class="header">
        <div class="middle">
            <div class="header_left">
                <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/tel.png"> <span>客服热线：0571-81022769
                    服务时间：09:00-21:00</span>
            </div>
            <div class="header_right rel">
                <img class="rel" onclick="IsPass()"
                    src="{:C('STATIC_ROOT')}/new_ppmiao/images/1345.png"> <a
                    class="rel" onclick="IsPass()">APP下载</a> <a
                    href="help.html" class="help"><span>帮助中心</span></a>
                <div class="hidden" id="index_bj"></div>
                <div class="hidden" id="index_window">
                    <img onclick="IsPass()"
                        src="{:C('STATIC_ROOT')}/new_ppmiao/images/9_49.png" />
                </div>
            </div>
        </div>
    </div>

    <!--第二导航栏-->
    <div class="content">
        <div class="clear"></div>
        <div class="top">
            <div class="middle">
                <div class="topleft">
                    <div class="top1 fl">
                        <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/logo_03.png">
                    </div>
                    <div class="top2 fl">
                        <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/logo_09.png">
                    </div>
                    <div class="top3 fl">
                        <img src="{:C('STATIC_ROOT')}/new_ppmiao/images/logo_06.jpg">
                    </div>
                    <div class="fl">
                        <big>做更好的理财平台</big><br> <small>安全可靠丶信息透明</small>
                    </div>

                </div>
                <div class="topright">
                    <ul>
                        <li><a href="/" <if condition="$path eq 'index'">style="border-bottom: 6px solid #ff580f;"</if>>首页</a></li>
                        <li><a href="security.html" <if condition="$path eq 'security'">style="border-bottom: 6px solid #ff580f;"</if>>安全保障</a></li>
                        <li><a href="product.html" <if condition="$path eq 'product'">style="border-bottom: 6px solid #ff580f;"</if>>理财产品</a></li>
                        <li><a href="about.html" <if condition="$path eq 'about'">style="border-bottom: 6px solid #ff580f;"</if>>关于我们</a></li>
                        <li><a href="contact.html" <if condition="$path eq 'contact'">style="border-bottom: 6px solid #ff580f;"</if>>联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>