<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link href="{:C('STATIC_ROOT')}/new_ppmiao_v3/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/new_ppmiao_v3/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/new_ppmiao_v3/css/style2.css" rel="stylesheet" type="text/css" />
    <title>票票喵 - 修改用户密码</title>
</head>

<body style="background-color:#f4f4f4;">

	<include file="Public:ppm_menu" />
    

    <!-- 内容部分 -->
    <div class="changePassword">
        <div class="content-background">
            <div class="content1">
                <div style="position:relative;height:100%;width:100%">
                    <div class="title">
                        修改登录密码
                    </div>
                    <div class="changePassword-content ">
                        <!-- 第一步 -->
                        <div id="step1">
                                <div class="changePassword-text">                                    身份验证
                                </div>
                                <div class="">
                                    <div class="">
                                        <input type="password" maxlength="20" id="password" name="password" placeholder="请输入登录密码">
                                        <a href="findpwd.html"><span class="forgetPassword">忘记密码?</span></a>
                                        <p class="remove-float"></p>
                                    </div>
                                </div>
                                <p class="next-step" id="btn_step1" style="cursor:pointer;">下一步</p>
                        </div>

                        <!-- 第二步 -->
                        <div id="step2" style="display:none;">
                            <div class="changePassword-text">
                                身份验证
                            </div>
                            <div class="">
                                <div style="width: 80%; margin: 0 auto;">
                                    <span style="float:left;font-size: 15px;">账户名</span><span style="float:right">{$Think.session.ONLINE_SESSION.username}</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <input type="password" maxlength="20" id="pwd" name="pwd" placeholder="请输入新的登录密码">
                                        <p class="remove-float"></p>
                                    </div>
                                    <div class="">
                                        <input type="password" maxlength="20" id="pwd2" name="pwd2" placeholder="请确认新的登录密码">
                                        <p class="remove-float"></p>
                                    </div>
                                </div>
                            </div>
                            <p class="next-step" id="btn_step2" style="cursor:pointer;">确认修改</p>
                        </div>

                    </div>
                    <!-- 修改成功 -->
                    <div class="change-info" id="step3" style="display:none;">
                        <div class="change-text">
                            <img class="change-pic" src="{:C('STATIC_ROOT')}/new_ppmiao_v3/images/success.png" />密码修改成功
                        </div>
                        <div style="margin: 5px 0;">
                            <a href="profile.html"><button class="change-info-button">返回我的账户</button></a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <!--底部导航-->
    <include file="Public:ppm_footer" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/new_ppmiao_v3/js/jquery.min.js"></script>
	<script type="text/javascript" src="{:C('STATIC_ROOT')}/new_ppmiao_v3/js/common.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#btn_step1').click(function(){	
				var password = $.trim($("input[name='password']").val());	
		    	if (password.length<6 || password.length>20) {
		            $("#password").nextAll(".remove-float").html('请输入正确的密码');
		            return false
		        }		    	
		    	$("#password").nextAll(".remove-float").html('');
		    	$.ajax({
			    	url: "modifypassword.html",
			        type: "post",
			        data: {'password':password,'step':'1'},
			        success: function (data) {
			        	if(data.status == 1){
			        		$("#new_mobile").val(data.info);
			        		$('#step1').css('display','none'); 
	     		    		$('#step2').css('display','block'); 
	     		    		$('#step3').css('display','none');
			        	} else {
			        		$("#password").nextAll(".remove-float").html(data.info);
			        	}
			        	return;
			       }
			   	})
			});
			
			$('#btn_step2').click(function(){	
				var pwd = $.trim($("input[name='pwd']").val());
				var pwd2 = $.trim($("input[name='pwd2']").val());
				
				if(!pwd || pwd.length<6 || pwd.length>20  ){
					$("#pwd").nextAll(".remove-float").html('请输入新密码，密码的长度在6-20字符 ');
					return false;
				}
				$("#pwd").nextAll(".remove-float").html('');
				if(!pwd2 || pwd2.length<6 || pwd2.length>20  ){
					$("#pwd2").nextAll(".remove-float").html('请输入新密码，密码的长度在6-20 字符');
					return false;
				}
				$("#pwd2").nextAll(".remove-float").html('');
				if(pwd != pwd2) {
					$("#pwd2").nextAll(".remove-float").html('两次密码输入不一致');
					return false;
				}
				
				$("#pwd").nextAll(".remove-float").html('');
				$("#pwd2").nextAll(".remove-float").html('');
				
		    	$.ajax({
			    	url: "modifypassword.html",
			        type: "post",
			        data: {'password':pwd,'password2':pwd2,'step':'2'},
			        success: function (data) {
			        	if(data.status == 1){
			        		$('#step1').css('display','none'); 
	     		    		$('#step2').css('display','none'); 
	     		    		$('#step3').css('display','block');
			        	} else {
			        		$("#pwd2").nextAll(".remove-float").html(data.info);
			        	}
			        	return;
			       }
			   	})
			});
			
		});

		
		
	</script>
</body>

</html>
