<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link href="{:C('STATIC_ROOT')}/new_ppmiao_v3/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/new_ppmiao_v3/css/style2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{:C('STATIC_ROOT')}/new_ppmiao_v4/css/index.less">
	<link rel="stylesheet" href="{:C('STATIC_ROOT')}/new_ppmiao_v4/css/index.css">
    <title>票票喵 - 订单记录</title>


<style>
html, body {font: normal 13px "Microsoft YaHei";font-family: "Microsoft YaHei","微软雅黑","sans-serif";}
.information_page{margin-left:300px;margin-bottom:200px;}

/*page*/
.page{ padding:90px 0 0px 0; text-align:center; margin-right:40px;margin-bottom:100px;}
.page .num{margin:0 1px;}
.page a{
	padding:6px 13px;
	color:#666666;
	background:#efeeee;
}
.page a:hover{background:#ff580f;color:#ffffff;}
.page a.cur{
	color:#ffffff;
	background:#ff580f;
}

</style>

</head>
<body style="background-color:#f4f4f4;">
		
		<include file="Public:ppm_menu" />
    
    <!--正文-->
        <div class="person_top">
            <div class="person_center">
                <a href="profile.html"><p class="cut10 fl" style="">个人中心</p></a>
                <a href="#"><p class="cut10 fl" style="margin:0 30px 0 30px;color:#ff6a00;">交易记录</p></a>
                <a href="setting.html"><p class="cut80 ">账户设置</p></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="record_big mar">
			<!-- 待还款 -->
				<div class="repayment">
					<dl>
						<dt>付息时间</dt>						
					</dl>
					<dl>
						<dt>产品名称</dt>						
					</dl>
					<dl>
						<dt>总额</dt>						
					</dl>
					<dl>
						<dt>支付本金</dt>						
					</dl>
					<dl>
						<dt>支付利息</dt>						
					</dl>
					<dl>
						<dt>操作</dt>						
					</dl>
					
					
					<dl>
						<dd>2017/2/23</dd>						
					</dl>
					<dl>
						<dd>票票喵1160期</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="operation">						
						<dd>还款</dd>						
					</dl>
					
									<dl>
						<dd>2017/2/23</dd>						
					</dl>
					<dl>
						<dd>票票喵1160期</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="operation">						
						<dd>还款</dd>						
					</dl>
					
					
					
									<dl>
						<dd>2017/2/23</dd>						
					</dl>
					<dl>
						<dd>票票喵1160期</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="amount">						
						<dd>1300.00</dd>						
					</dl>
					<dl class="operation">						
						<dd>还款</dd>						
					</dl>
					
					
				</div>
        </div>
        

    <!--底部导航-->
    <include file="Public:ppm_footer" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/new_ppmiao_v3/js/common.js"></script>
</body>
</html>         