<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">编辑渠道 [ <a href="{:C('ADMIN_ROOT')}/Statistics/channel/p/{$params.page}">返回列表</a> ]</div>
        <div id="result" class="result none"></div>
        <script type="text/javascript" src="__PUBLIC__/admin/js/Validform_v5.3.2_min.js"></script>
        <form id="frmMain" method='post' action="">
            <input type="hidden" name="page" value="{$params.page}" />
            <input type="hidden" name="id" value="{$detail.id}" />
            <table cellpadding=3 cellspacing=3 >
                <tr>
                    <td class="tRight">渠道名称：</td>
                    <td class="tLeft"><input type="text" class="bLeftRequire" id="name" name="name" datatype="*" value="{$detail.cons_value}"/></td>
                </tr>
                <tr>
                    <td class="tRight">渠道分类：</td>
                    <td class="tLeft">
                        <select name="cons_type" id="cons_type" >
                            <option value="-1" <eq name="detail.cons_type" value="-1">selected</eq> >其他</option>
                            <option value="1" <eq name="detail.cons_type" value="1">selected</eq> >自然统计</option>
                            <option value="2" <eq name="detail.cons_type" value="2">selected</eq> >合作推广</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tRight">包名：</td>
                    <td class="tLeft"><input type="text" class="bLeftRequire" id="sign" name="sign" datatype="*" value="{$detail.cons_key}"/></td>
                </tr>
                <tr>
                    <td class="tRight">地址：</td>
                    <td class="tLeft"><input type="text" class="huge" id="address" name="address" value="{$detail.cons_desc}" /></td>
                </tr>

                <tr>
                    <td class="tRight">渠道号：</td>
                    <td class="tLeft">
                        <input type="text" class="bLeftRequire" id="ver" name="ver" value="{$detail.ver}" datatype="*" />
                    </td>
                </tr>
                <tr>
                    <td class="tRight">打开状态：</td>
                    <td class="tLeft">
                        <select name="status" id="status" >
                            <option value="0" <eq name="detail.status" value="0">selected</eq>  >关</option>
                            <option value="1" <eq name="detail.status" value="1">selected</eq> >开</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tRight">打开人数：</td>
                    <td class="tLeft">
                        <input type="text" class="bLeftRequire" id="open_num" name="open_num" value="{$detail.open_num}" datatype="*" />
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="center">
                        <div style="width:100%;margin:5px">
                            <input type="submit" value="保 存"  class="button small">
                            <input type="reset" class="button small" onclick="javascript:if(!confirm('确认重置吗?')) return false;" value="重 置" >
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    var _adding = false;
    var _layerIndex = 0;
    $(document).ready(function(){
        $("#frmMain").Validform({ // 表单验证
            tiptype: 3,
            callback: function(form){
                if(_adding) return;
                _adding = true;
                _layerIndex = layer.load('数据提交中...');
                $.ajax({
                    url: ROOT + '/statistics/channel_edit',
                    data: $('#frmMain').serialize(),
                    type: "POST",
                    cache: false,
                    success: function(msg) {
                        layer.close(_layerIndex);
                        if(msg.status){
                            layer.alert('编辑成功~!', -1, function(){
                                window.location.href = msg.info;
                            });
                        }else{
                            layer.alert(msg.info);
                        }
                        _adding = false;
                    }
                });
                return false;
            }
        });
    });
</script>
