<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">每日收支图表 -
            <a href="{:C('ADMIN_ROOT')}/statistics/daily_income/target/Investment">理财收支状况</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/daily_income/target/wallet">钱包收支状况</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/daily_income/target/amount">总收支状况</a>&nbsp;&nbsp;

        </div>
        <div id="result" class="result none"></div>
    </div>
</div>