<include file="Public:header" />
<div id="main" class="main" >
    <script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/highcharts/modules/exporting.js"></script>
    <div class="content">
        <div class="title">钱包收支记录</div>
        <!--  功能操作区域  -->
        <div class="operate" >
            <!-- 查询区域 -->
            <div class="fRig">
                <form method='post' action="">
                    <input type="hidden" name="target" value="wallet" />
                    <div class="fLeft">
                        <span><input type="text" name="dt" id="dt" class="laydate-icon" placeholder="选择日期" class="medium" value="{$dt}" readonly></span>
                    </div>
                    <div class="impBtn hMargin fLeft shadow"><input type="submit" value="筛选" class="search imgButton"></div>
                </form>
            </div>
        </div>
        <div id="result" class="result none"></div>
        <div id="container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
    </div>
</div>
<script>
var dt = {
        elem: '#dt',
        format: 'YYYY-MM',
        min: '1970-00', //设定最小日期为当前日期
        max: '2099-06', //最大日期
        istime: false,
        istoday: true,
        choose: function(datas){

        }
    };
    laydate(dt);
    $(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: '钱包收支'
            },
            subtitle: {
                text: ''
            },
            xAxis: [{
                categories: [{$wallet_date}]
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +'元';
                    },
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: '钱包支出',
                    style: {
                        color: '#89A54E'
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: '收益',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +' 元';
                    },
                    style: {
                        color: '#4572A7'
                    }
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: '钱包收入',
                    style: {
                        color: '#AA4643'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +' 元';
                    },
                    style: {
                        color: '#AA4643'
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 80,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: '钱包收益',
                color: '#4572A7',
                type: 'column',
                yAxis: 1,
                data: [{$wallet_profit}],
                tooltip: {
                    valueSuffix: ' 元'
                }

            }, {
                name: '钱包收入',
                type: 'spline',
                color: '#AA4643',
                yAxis: 2,
                data: [{$wallet_income}],
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                    valueSuffix: ' 元'
                }

            }, {
                name: '钱包支出',
                color: '#89A54E',
                type: 'spline',
                data: [{$wallet_expense}],
                tooltip: {
                    valueSuffix: '元'
                }
            }]
        });
    });
    
</script>