{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->
<script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>

<!-- 主页面开始 -->
<div id="main" class="main" >

    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">存量查询</div>
        <!--  功能操作区域  -->
        <div class="operate" >
            <!-- 查询区域 -->
            <div class="fRig">
                <form method='get' action="{:C("ADMIN_ROOT")}/statistics/inventory_list">
                    <div class="fLeft"> 
                        <span><input type="text" name="channel" id="channel" placeholder="输入渠道" class="medium" value="{$channel}"></span>

                        <label for="start_time">选择日期：</label>
                        <span><input type="text" name="dt" id="dt" class="laydate-icon" placeholder="选择日期" class="medium" value="{$dt}" readonly></span>
                    </div>
                    
                    <div class="impBtn hMargin fLeft shadow">
                    	<input type="submit" id="" name="search" value="查询" onclick="" class="search imgButton">
                    </div>
                </form>
            </div>
        </div>
       
        <!-- 列表显示区域  -->
        <div class="list" >
            <table id="checkList" class="list" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height="5" colspan="4" class="topTd"></td>
                </tr>
                <tr class="row">
                    <th width="3%" align="center">编号</th>
                    <th width="8%" align="center">金额</th>
                    <th width="8%" align="center">渠道</th>
                    <th width="8%" align="center">日期</th>
                </tr>
                <foreach name="list" item="item">
                    <tr>
                        <td align="center">{$item.id}</td>
                        <td align="center">{$item.money}</td>
                        <td align="center">{$item.channel_name}</td>
                        <td align="center">{$item.stat_date}</td>
                    </tr>    
                </foreach>
                <tr>
                    <td height="5" colspan="4" class="bottomTd"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--  分页显示区域 -->
        <div class="page">
            {$show}
        </div>
        <!-- 列表显示区域结束 -->
        <div style="clear: both;"></div>
    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
<style>
    .icon_add{
        background-image: url('{:C("STATIC_ADMIN")}/auth/images/icon_open.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding-left: 25px;
    }
    .icon_close{
        background-image: url('{:C("STATIC_ADMIN")}/auth/images/icon_close.png');
    }
    .subitem{background-color: whitesmoke!important;}
</style>
<script>
	var dt = {
        elem: '#dt',
        format: 'YYYY-MM-DD',
        min: '1970-00-00 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: true,
        choose: function(datas){

        }
    };
    laydate(dt);
    </script>
