<include file="Public:header" />
<div id="main" class="main" >
    <div class="content">
        <div class="title">销售图表 -
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/daily">日数据</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/monthly">月数据</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/year">年数据</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/bk">爆款数据</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/hbfxztl">还本付息再次投资率</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/xsectz">购买新手标二次投资</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/cumulative">销售增量(产品)</a>&nbsp;&nbsp;
            <a href="{:C('ADMIN_ROOT')}/statistics/sales_figures/target/cumulative_wallet">销售增量</a>&nbsp;&nbsp;
        </div>
        <div id="result" class="result none"></div>
    </div>
</div>