{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->
<script type="text/javascript" src="__PUBLIC__/admin/laydate/laydate.js"></script>
<!-- 主页面开始 -->
<div id="main" class="main" >

    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">钱包统计</div>
        <!--  功能操作区域  -->
        <div class="operate" >
            <!-- 查询区域 -->
            <div class="fRig">
                <form method='post' action="">
                    <div class="fLeft">
                        <select name="chn" style="width:200px;">
                            <option value="0">全部渠道</option>
                            <foreach name="channel_list" item="item">
                                <option value="{$item.id}" <eq name="item.id" value="$params['chn']">selected</eq>>{$item.cons_value}({$item.cons_key})</option>
                            </foreach>
                        </select>
                        <label for="start_time">开始时间：<input type="text" class="laydate-icon" name="start_time" id="start_time" value="{$params.st}" readonly /></label>
                        <label for="end_time">结束时间：<input type="text" class="laydate-icon" name="end_time" id="end_time" value="{$params.et}" readonly /></label>
                    </div>
                    <div class="impBtn hMargin fLeft shadow"><input type="submit" value="搜索" class="search imgButton"></div>
                </form>
            </div>
            <!-- 高级查询区域 -->
            <div  id="searchM" class=" none search cBoth" >
            </div>
        </div>
        <!-- 功能操作区域结束 -->

        <!-- 列表显示区域  -->
        <div class="list" >
            <table id="checkList" class="list" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height="5" colspan="13" class="topTd"></td>
                </tr>
                <tr class="row">
                    <th width="120px" align="center">日期</th>
                    <th width="100px" align="center">充值钱包人数</th>
                    <th width="100px" align="center">流水进(银行卡)</th>
                    <th width="150px" align="center">流水进(还本付息)</th>
                    <th width="150px" align="center">流水进(现金券)</th>
                    <th width="150px" align="center">流水出(提现)</th>
                    <th width="150px" align="center">流水出(购买产品)</th>
                    <th width="100px" align="center">钱包余额</th>
                    <th width="*">操作</th>
                </tr>
                <foreach name="list" item="item">
                    <tr class="row">
                        <td align="center">{$item.datetime}</td>
                        <td align="right"><a href="javascript:;" onclick="showPerson('{$item.datetime}')">{$item.recharge_persons|number_format}</a></td>
                        <td align="right">{$item.recharge_from_bank|number_format=2}</td>
                        <td align="right">{$item.recharge_from_project|number_format=2}</td>
                        
                        <td align="right">{$item.recharge_from_cashCoupon|number_format=2}</td>
                        
                        <td align="right">{$item.recharge_to_bank|number_format=2}</td>
                        <td align="right">{$item.recharge_to_project|number_format=2}</td>
                        <td align="right">{$item.residual_amount|number_format=2}</td>
                        <td></td>
                    </tr>
                </foreach>
                <tr class="row" style="background-color:aliceblue;">
                    <td align="center">合计</td>
                    <td align="right">{$sumParams.sumTotleRechargePersons|number_format}</td>
                    <td align="right">{$sumParams.sumTotleRechargeFromBank|number_format=2}</td>
                    <td align="right">{$sumParams.sumTotleRechargeFromProject|number_format=2}</td>
                    
                    <td align="right">{$sumParams.sumTotleRechargeFromCashCoupon|number_format=2}</td>
                    
                    <td align="right">{$sumParams.sumTotleRechargeToBank|number_format=2}</td>
                    <td align="right">{$sumParams.sumTotleRechargeToProject|number_format=2}</td>
                    <td align="right">{$sumParams.sumTotleResidualAmount|number_format=2}</td>
                    <td></td>
                </tr>
                <tr>
                    <td height="5" colspan="13" class="bottomTd"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--  分页显示区域 -->
        <div class="page">{$show}</div>
        <!-- 列表显示区域结束 -->
    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
<script>
    var _page = "{$params.page}";
    var _chn = "{$params.chn|default=0}";
    var _st = "{$params.start_time}";
    var _et = "{$params.end_time}";

    var start = {
        elem: '#start_time',
        format: 'YYYY-MM-DD',
        min: '1970-00-00 00:00:00', //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: true,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end_time',
        format: 'YYYY-MM-DD',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: false,
        istoday: true,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    function showPerson(_datetime){
        window.open(ROOT + "/statistics/wallet_data_detail/target/0/chn/" + _chn + "/dt/" + _datetime, 'showperson', 'height=600,width=800,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
    }
</script>