<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$meta_title}</title>
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="author" content="{:C('META_AUTHOR')}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{:C('WEB_ROOT')}/favicon.ico">
    <link href="{:C('STATIC_ROOT')}/A_wheel/css/reset.css?v=1.0" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/A_wheel/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/A_wheel/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.aboutBox06Inner ul li').hover(function(){
                $(this).addClass('cur');
            },function(){
                $(this).removeClass('cur');
            })
        });
    </script>
</head>

<body>
<include file="PublicNew:menu" />


<div class="wheel_list" style="background:url({:C('STATIC_ROOT')}/A_wheel/images/wheel.png) no-repeat center;min-height:3507px"></div>
<include file="PublicNew:footer" />
<include file="PublicNew:gotop" />
</body>
</html>