<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$meta_title}</title>
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="author" content="{:C('META_AUTHOR')}" />
    <link rel="shortcut icon" href="{:C('WEB_ROOT')}/favicon.ico">
    <link href="{:C('STATIC_ROOT')}/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/css/css.css" rel="stylesheet" type="text/css" />
    <script src="{:C('STATIC_ROOT')}/js/jquery.min.js"></script>
    <script src="{:C('STATIC_ROOT')}/js/parallax.js"></script>
    <include file="Public:baidu_script" />
</head>
<body>
<div class="wrapHeader">
    <div class="header">
        <h1 class="logo"><a href="{:C('WEB_ROOT')}"><img src="{:C('STATIC_ROOT')}/images/logo.png" alt="石头理财" title="石头理财" width="58" height="58" /></a></h1>
        <span>石头理财</span>
        <p><img src="{:C('STATIC_ROOT')}/images/logoTxt.png" /></p>
        <ul class="nav">
            <li><a href="javascript:void(0)" class="cur">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
            <li><a href="javascript:void(0)">理财产品</a></li>
            <li><a href="javascript:void(0)">合作机构</a></li>
            <li><a href="{:C('WEB_ROOT')}/join.html">加入我们</a></li>
            <li><a href="javascript:void(0)">联系我们</a></li>
        </ul>
        <div class="tel">
        </div>
    </div>
</div>
<ul class="fixedNav">
    <li class="cur">
        <em class="icon"></em>
        <span class="txt">首&nbsp;&nbsp;&nbsp;&nbsp;页</span>
    </li>
    <li>
        <em class="icon"></em>
        <span class="txt">理财产品</span>
    </li>
    <li>
        <em class="icon"></em>
        <span class="txt">合作机构</span>
    </li>
    <li>
        <em class="icon"></em>
        <span class="txt">加入我们</span>
    </li>
    <li>
        <em class="icon"></em>
        <span class="txt">联系我们</span>
    </li>
</ul>
<div class="wrapBox" id="wrapBox">
    <div class="box b1_bg">
        <div class="load">
            <p><img src="{:C('STATIC_ROOT')}/images/loading.gif" alt=""></p>
            <div class="load_bg"></div>
        </div>
        <div class="box_bg box1_bg zIndex40"><img src="" data-src="{:C('STATIC_ROOT')}/images/b1_bg.jpg" alt=""></div>
        <div class="box_fixed b1_fixed">
            <div class="b1_02">
                <img src="" data-src="{:C('STATIC_ROOT')}/images/se01Img01.png" alt="" />
                <span><img src="{:C('STATIC_ROOT')}/images/erweima02.png"> <img src="{:C('STATIC_ROOT')}/images/erweima01.png"></span>
                <a href="{:C('APP_DOWNLOAD_ANDROID')}" class="b1_03_btn" style="margin-left:47px; margin-right:60px;" target="_blank"><img src="" data-src="{:C('STATIC_ROOT')}/images/androidImg.png" alt="" /></a>
                <a href="{:C('APP_DOWNLOAD_IOS')}" class="b1_03_btn" target="_blank"><img src="" data-src="{:C('STATIC_ROOT')}/images/iphoneImg.png" alt="" /></a>
            </div>
            <div class="b1_03">
                <img src="{:C('STATIC_ROOT')}/images/screen1.png" data-src="{:C('STATIC_ROOT')}/images/screen1.png">
            </div>
            <div class="b1_04">
                <img src="{:C('STATIC_ROOT')}/images/screen2.png" data-src="{:C('STATIC_ROOT')}/images/screen2.png">
            </div>
            <div class="b1_05">
                <img src="{:C('STATIC_ROOT')}/images/screen3.png" data-src="{:C('STATIC_ROOT')}/images/screen3.png">
            </div>
        </div>
    </div>

    <div class="box b2_bg">
        <div class="load">
            <p><img src="{:C('STATIC_ROOT')}/images/loading.gif" alt=""></p>
            <div class="load_bg"></div>
        </div>
        <div class="box_bg box2_bg"></div>
        <div class="box_fixed b2_fixed">
            <div class="b2_01">
                <h2>
                    <img src="{:C('STATIC_ROOT')}/images/se02Img01.png">
                </h2>
            </div>
            <div class="b2_02">
            </div>
            <div class="b2_03">
            </div>
            <div class="b2_04">
            </div>
        </div>
    </div>

    <div class="box b3_bg">
        <div class="load">
            <p><img src="{:C('STATIC_ROOT')}/images/loading.gif" alt=""></p>
            <div class="load_bg"></div>
        </div>
        <div class="box_bg box3_bg"></div>
        <div class="box_fixed b3_fixed">
            <div class="b3_01">
                <h2>
                    <img src="{:C('STATIC_ROOT')}/images/se03Img01.png">
                </h2>
            </div>
            <div class="b3_img01">
                <img src="{:C('STATIC_ROOT')}/images/b3_img01.png">
            </div>
            <div class="b3_txt01 b3_txt">
                <span><img src="{:C('STATIC_ROOT')}/images/b3_txt01.png"></span>
                <em></em>
            </div>
            <div class="b3_txt02 b3_txt">
                <span><img src="{:C('STATIC_ROOT')}/images/b3_txt02.png"></span>
                <em></em>
            </div>
            <div class="b3_txt03 b3_txt">
                <em></em>
                <span><img src="{:C('STATIC_ROOT')}/images/b3_txt03.png"></span>
            </div>
            <div class="b3_txt04 b3_txt">
                <em></em>
                <span><img src="{:C('STATIC_ROOT')}/images/b3_txt04.png"></span>
            </div>

        </div>
    </div>

    <div class="box b4_bg">
        <div class="box_bg box4_bg"></div>
        <div class="box_fixed b4_fixed">
            <div class="se04Img01">
                <h2><img src="{:C('STATIC_ROOT')}/images/se04Img01.png"></h2>
            </div>
            <div class="section04Inner clear">
                <ul>
                    <li class="b4_txt b4_txt01"><img src="{:C('STATIC_ROOT')}/images/payh.jpg"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box b5_bg">
        <div class="box_bg box5_bg"></div>
        <div class="box_fixed b5_fixed">
            <div class="b5_img01">
                <h2><img src="{:C('STATIC_ROOT')}/images/b5_txt01.png"></h2>
            </div>
            <div class="b5_txt b5_txt01" style="opacity: 1; top: 125px;">
                <p>石头理财是一个非常有爱的团队，我们推崇责任和真诚，</p>
            </div>
            <div class="b5_txt b5_txt02" style="opacity: 1; top: 160px;">
                <p>我们更是一支在互联网和金融领域非常优秀的团队！</p>
            </div>
            <div class="b5_txt b5_txt03" style="opacity: 1; top: 200px;">
                <p>我们有梦有理想，我们积极乐观，脚踏实地，充满激情，在这里你能收获快乐、成长和志同道合的伙伴！</p>
            </div>
            <div class="b5_txt b5_txt04" style="opacity: 1; top: 240px;">
                <p>如果你也和我们一样，那么欢迎你加入我们的团队。</p>
            </div>
            <div class="b5_txt b5_txt05" style="opacity: 1; top: 290px;">
                <p><img src="{:C('STATIC_ROOT')}/images/b5_txt02.png"></p>
            </div>
            <div class="b5_txt b5_txt06" style="opacity: 1; top: 500px;">
                <p><img src="{:C('STATIC_ROOT')}/images/b5_txt03.png"></p>
            </div>
            <div class="b5_txt b5_txt07" style="opacity: 1; top: 560px;">
                <a href="join.html"></a>
            </div>
        </div>
    </div>
    <div class="box b6_bg">
        <div class="box_bg box6_bg"><img src="{:C('STATIC_ROOT')}/images/b6_bg.jpg"></div>
        <div class="box_fixed b6_fixed">
            <div class="b6_img01">
                <h2><img src="{:C('STATIC_ROOT')}/images/b6_img01.png"></h2>
            </div>
            <div class="b6_img02">
                <img src="{:C('STATIC_ROOT')}/images/b6_img02.png">
            </div>
            <div class="b6_img03">
                <img src="{:C('STATIC_ROOT')}/images/map.jpg" width="615" height="384">
            </div>
        </div>
    </div>
    <div class="box b7_bg">
        <div class="box_bg box7_bg"></div>

        <div class="box_fixed b7_fixed" style="position:relative;">
            <div class="b7_img03">
                <h2><img src="{:C('STATIC_ROOT')}/images/b7_img03.png"></h2>
            </div>
            <div class="b7_img01">
                <span class="span01 b7_txt01"><i></i><p>杭州</p></span>
                <span class="span02 b7_txt02"><i></i><p>深圳</p></span>
                <span class="span03 b7_txt03"><i></i><p>广州</p></span>
                <span class="span04 b7_txt04"><i></i><p>香港</p></span>
                <span class="span05 b7_txt05"><i></i><p>澳大利亚</p></span>
            </div>
        </div>
        <div class="footerBg" style="position:absolute;bottom:0;left:0;">
            <p>©2015&nbsp;&nbsp;{:C('COMPANY_NAME')}&nbsp;&nbsp;{:C('NET_SAFE')}&nbsp;&nbsp;{:C('ICP')}</p>
        </div>
    </div>
</div>

<script>
    //document.body.style.overflow = 'hidden';
    var ie6 = !-[1,]&&!window.XMLHttpRequest;
    ie6 || loadImg.init();
</script>
</body>
</html>