<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$meta_title}</title>
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="author" content="{:C('META_AUTHOR')}" />
    <link rel="shortcut icon" href="{:C('WEB_ROOT')}/favicon.ico">
    <link href="{:C('STATIC_ROOT')}/v2/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{:C('STATIC_ROOT')}/v2/css/css.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{:C('STATIC_ROOT')}/v2/css/visuallightbox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{:C('STATIC_ROOT')}/v2/js/jquery.js"></script>
    <script src="{:C('STATIC_ROOT')}/v2/js/visuallightbox.js" type="text/javascript"></script>
</head>

<body style="overflow-x:hidden;">
<include file="PublicNew:menu" />

<div class="joinBanner" style="height:217px;">
    <p style="background:url({:C('STATIC_ROOT')}/v2/images/img/user_img06.jpg) no-repeat scroll center top; height:217px; display:block"></p>
</div>

<div class="mediaNewsBox fLe clear">
    <div class="mediaNews w980 clear">
        <div class="privacyProtectTitle fLe clear">
            <h5>合作机构</h5>
        </div>
        <div class="privacyProtectContent fLe clear">
            <p>
                石头理财与平安保险达成战略深度合作，1.2亿元为石头理财用户的资金保驾护航。<br />
                石头理财金融平台与平安保险全面签署平台资金安全保障合作协议，欲进一步保障用户资金交易过程的安全。<br />根据石头理财与平安的合作协议，平安保险对石头理财的每笔交易承担保险责任，从充值、提现、投资、还款<br />等各个环节全面保证投资者资金安全，让用户在石头理财平台的投资更加安全。
                <img src="{:C('STATIC_ROOT')}/v2/images/img/coperateInstitutionImg01.jpg" style="margin-top:50px;" />
            </p>
            <div class="coperateInstitutionBox fLe clear">
                <h2>----------------------------------<em>中国平安保险保单</em>-----------------------------------</h2>
                <div id="content">
                    <div class="section_first_demo">
                        <div id="vlightbox1" align="center">
                            <a class="vlightbox1" href="{:C('STATIC_ROOT')}/v2/images/img02/coperateInstitutionImg02.jpg">
                                <img src="{:C('STATIC_ROOT')}/v2/images/img/coperateInstitutionImg02.jpg"/>
                            </a>
                            <a class="vlightbox1" href="{:C('STATIC_ROOT')}/v2/images/img02/coperateInstitutionImg02.jpg">
                                <img src="{:C('STATIC_ROOT')}/v2/images/img/coperateInstitutionImg02.jpg"/>
                            </a>
                            <a class="vlightbox1" href="{:C('STATIC_ROOT')}/v2/images/img02/coperateInstitutionImg02.jpg">
                                <img src="{:C('STATIC_ROOT')}/v2/images/img/coperateInstitutionImg02.jpg"/>
                            </a>
                        </div>
                        <script src="{:C('STATIC_ROOT')}/v2/js/vlbdata1.js" type="text/javascript"></script>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<include file="PublicNew:footer" />
</body>
</html>