<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>基金损益权转让协议</title>
    <meta name="viewport" content="user-scalable=no,width=device-width">
    <link href="{:C('STATIC_ROOT')}/mobile/css/contract_increment.css" rel="stylesheet" type="text/css"  media="all" />
</head>

<body id="contractBody">
<section class="wrapBox">
    <section class="contractListBox">
        <section class="contractList">
            甲方（出让方）：{$detail.nickname}
        </section>
        <section class="contractList">
            身份证号码：{$detail.idcard|hide_whole_idcard}
        </section>
        <section class="contractList">
            乙方（受让方）：{$due_detail.uinfo.real_name}
        </section>
        <section class="contractList">
            身份证号码：{$due_detail.uinfo.card_no|hide_whole_idcard}
        </section>
        <section class="contractList">
            电话：{$due_detail.uinfo.username}
        </section>
        <section class="contractList">
            丙方（信息服务方）：杭州时投信息科技有限公司
        </section>
        <section class="contractList contractList03">
            鉴于：
        </section>

        <section class="contractList contractList02">
            1、丙方为一家专业的投融资第三方信息服务平台。丙方运营网站“石头理财网”有大量的注册会员。
        </section>

        <section class="contractList contractList02">
            2、甲方为专业的有限合伙份额投资人，具有丰富的有限合伙份额投资经验。
        </section>

        <section class="contractList contractList02">
            3、乙方为甲方的注册会员，并具有投资意向。
        </section>

        <section class="contractList contractList02">
            根据《中华人民共和国合同法》、《中华人民共和国民法通则》等有关法律规定，甲乙丙三方本着诚实信用的基本原则，经平等友好协商，就甲方通过丙方运营平台向乙方转让有限合伙份额损益权的相关事宜达成如下协议：
        </section>

        <section class="contractList contractList03">
            第一条 本协议名词释义
        </section>

        <section class="contractList contractList04">
            1、“有限合伙份额损益权”是指有限合伙企业的合伙人基于其持有的有限合伙企业份额可能获得收益或承担损失的一种权利义务。
        </section>

        <section>
            2、“资金监管账户”是指甲方通过丙方平台在丙方合作的第三方支付机构或银行开立的资金管理账户，该账户由丙方与甲方共同监管。
        </section>

        <section class="contractList contractList03">
            第二条 有限合伙份额基本信息
        </section>

        <section class="contractList contractList04">
            1、甲方持有有限合伙的基本情况如下：
        </section>

        <section class="contractList contractList05">
            <table width="100%" border="0">
                <tr>
                    <td><span>有限合伙全称：</span></td>
                    <td colspan="3"><span>杭州华弘丰泰投资管理合伙企业</span></td>
                </tr>
                <tr>
                    <td><span>出资金额：</span></td>
                    <td><span>200万</span></td>
                    <td><span>申购数量：</span></td>
                    <td><span>200万</span></td>
                </tr>

                <tr>
                    <td><span>持有时间：</span></td>
                    <td><span>至2016.01.16</span></td>
                    <td><span>剩余持有时间：</span></td>
                    <td><span>至2016.01.16</span></td>
                </tr>
            </table>
        </section>

        <section class="contractList contractList04">
            2、此有限合伙企业合伙人全部出资投资于宁波天神娱乐文创股权投资合伙企业（有限合伙）的中间级。资金主要用于天神娱乐（002354）的资产并购计划。
        </section>

        <section class="contractList contractList04">
            3、有限合伙份额损益权收益=有限合伙份额损益权对应有限合伙份额的实际收益-有限合伙份额损益权对应有限合伙份额的管理费。
            其中管理费指：当对应有限合伙份额实际年化收益超过8%时，收取超额部分30%作为管理费。
        </section>

        <section class="contractList contractList04">
            4、有限合伙份额损益权对应有限合伙份额的认购过程由丙方法务和风控人员全程监督和见证，甲方出资银行卡和网银盾在有限合伙份额损益权获得全部实现之前，由丙方负责保存监管，甲方不得私自操作。
        </section>

        <section class="contractList contractList03">
            第三条 有限合伙份额损益权转让及赎回
        </section>

        <section class="contractList contractList04">
            1、1、甲方转让的有限合伙份额为<p style="text-decoration:underline;display: inline-block;">{$due_detail['due_capital']}</p>

        </section>

        <section class="contractList contractList04">
            2、甲方自愿将上述类型有限合伙份额损益权以人民币<p style="text-decoration:underline;display: inline-block;">{$due_detail['due_capital']}</p>的价格转让给乙方。
        </section>

        <section class="contractList contractList04">
            3、乙方同意按本条第二款约定的价格受让甲方上述转让的有限合伙份额损益权。
        </section>

        <section class="contractList contractList04">
            4、甲方同意乙方通过丙方平台，在2016年9月23日至2016年9月27日内对所持有的有限合伙份额损益权进行赎回；
        </section>

        <section class="contractList contractList04">
            5、若在指定期限（第三条条第4款）乙方申请赎回，甲方自愿以人民币<p style="text-decoration:underline;display: inline-block;">{$due_detail['due_capital']}</p>的价格对乙方所对应的有限合伙份额损益权进行回购。（回购价格计算方式：对应有限合伙份额损益权转让款本金+（对应有限合伙份额损益权转让款本金*8%*转让期限/365））。
        </section>


        <section class="contractList contractList03">
            第四条 有限合伙份额损益权转让款的支付
        </section>

        <section class="contractList contractList04">
            1、甲乙丙三方均一致同意乙方将有限合伙份额损益权转让款支付至甲方通过丙方平台在第三方支付机构或银行开立的资金监管账户，该账户由丙方与甲方共同监管。
        </section>

        <section class="contractList contractList04">
            2、乙方按照石头理财网的规则将有限合伙份额损益权转让款支付至甲方通过丙方平台在第三方支付机构或银行开立的资金监管账户中，即视为乙方完成了该笔有限合伙份额损益权转让的付款行为。
        </section>

        <section class="contractList contractList03">
            第五条 有限合伙份额损益权的取得
        </section>

        <section class="contractList contractList04">
            乙方自本协议生效之日即取得本协议项下的有限合伙份额损益权，有权按照本协议约定的条件获得有限合伙份额损益权收益并承担有限合伙份额损益权损失。
        </section>

        <section class="contractList contractList03">
            第六条 有限合伙份额损益权的实现
        </section>

        <section class="contractList contractList04">
            1、有限合伙份额损益权到期后或出现提前完成投资计划，甲方应按本协议第二条的规定将已转让有限合伙份额损益权的对应结算资金（转让价格获得收益）支付到资金监管账户绑定账号（结算资金已直接提取至资金监管账户绑定账号的除外），并向乙方支付对应有限合伙份额损益权的结算资金。
        </section>

        <section class="contractList contractList04">
            2、丙方对甲方向乙方支付有限合伙份额损益权结算资金的行为负有监管的权利和义务，并对甲方的上述行为予以配合。
        </section>

        <section class="contractList contractList03">
            第七条 其他权利义务
        </section>

        <section class="contractList contractList04">
            1、转让有限合伙份额损益权可能并非甲方申购的全部有限合伙份额对应有限合伙份额损益权，乙方对此充分理解和认可。而且乙方已经充分了解甲方认购有限合伙份额的全部情况，并且同意从甲方处受让有限合伙份额损益权。
        </section>

        <section class="contractList contractList04">
            2、甲方保证本协议项下转让给乙方的有限合伙份额损益权真实有效，并为甲方合法拥有，甲方对其拥有完全、有效的处分权。
        </section>

        <section class="contractList contractList04">
            3、乙方声明与保证其所用于受让标的有限合伙份额损益权的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题发生争议，由乙方自行负责解决。
        </section>

        <section class="contractList contractList04">
            4、因战争、动乱、自然灾害等不可抗力或国家法律政策变动、电信网络服务终止、黑客攻击等客观因素出现，导致协议内容延迟履行或不能履行，甲、乙、丙三方互不追究责任。
        </section>

        <section class="contractList contractList04">
            5、甲乙丙三方确认，本协议的签订 、生效和履行以不违反中国的法律法规为前提。如果本协议中的任何一条或多条违反现行的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
        </section>

        <section class="contractList contractList03">
            第十条 协议的变更
        </section>

        <section class="contractList contractList04">
            本协议的任何修改、补充均须以石头理财网平台电子文本形式做出。
        </section>

        <section class="contractList contractList03">
            第十一条 争议解决
        </section>

        <section class="contractList contractList04">
            如果甲乙丙三方在本协议履行过程中发生任何争议，应友好协商解决；如协商不成，则须提交丙方所在地人民法院进行诉讼。
        </section>

        <section class="contractList contractList03">
            第十二条 协议的保管
        </section>

        <section class="contractList contractList04">
            甲乙双方一致同意委托丙方保管所有与本协议有关的书面文件或电子信息。
        </section>

        <section class="contractList contractList03">
            第十三条 协议的解释
        </section>

        <section class="contractList contractList04">
            本协议中所使用的定义，除在上下文中另有定义外，以石头理财网公布的《石头理财网网站定义与释义规则》中的定义及内容为准。
        </section>

        <section class="contractList contractList03">
            第十四条 本协议的成立与生效
        </section>

        <section class="contractList contractList04">
            乙方按照“石头理财网”的规则，通过甲方的有限合伙份额损益权（“标的有限合伙份额损益权”）转让需求界面，点击 “立即投资”按钮，进入投资理财详细信息界面，填写完成乙方的投资理财信息，点击同意《有限合伙份额损益权转让协议范本》，形成相应订单，并在线完成有限合伙份额损益权转让款支付后本协议即成立并立即生效。
        </section>
    </section>
</section>
</body>
</html>