@charset "utf-8";
body,form,h1,h2,h3,h4,h5,h6,hr,input,li,p,ul,pre {margin:0 auto;padding:0;list-style:none;vertical-align:middle;color:#000;}
body {font-size:13px; font-family:"微软雅黑", "宋体", "楷体", "仿宋",Tahoma, Geneva, sans-serif;}
a {text-decoration:none;outline:0;cursor:pointer;}
div, dl, dt, dd, li, td, input, select, textarea, form,table { margin: 0; padding: 0; font-weight: normal;}
li,ol,ul {list-style:none;}
a,p,span,pre {-webkit-user-select:auto;-webkit-touch-callout:none;color:inherit;}
img {border:none;display:inline-block;vertical-align:middle;background-size:cover;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0; outline: 0;}
button,select{text-transform:none}
select{-webkit-appearance: none; border:none;}
input{line-height:normal; }
input[type="button"], input[type="submit"], input[type="reset"] ,select{-webkit-appearance: none;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
label,input{vertical-align: middle}
.clear {clear:both}
.hidden{ display:none}
.fl {float:left}
.fr {float:right}
.rel{position:relative;}
.abs {position: absolute;}
.tl {text-align:left;}
.tr {text-align:right;}
.tc {text-align:center;}
.bodt {border-top:solid 1px #CCC;}
.bodb {border-bottom:solid 1px #000;}
.bodb1 {border-bottom:solid 1px #3BD9D0;}
.bodb2 {border-bottom:solid 2px #3BD9D0;}
.bodb3{border-bottom:1px solid #DCDDDD}
.bodt1 {border-top:solid 1px #3BD9D0;}
.bodt2{border-top:1px solid #FFF;}
.bodr {border-right:solid 1px #CCC;}
.bodr3{border-right:1px solid #DCDDDD}
.bodl {border-left:solid 1px #CCC;}
.mtop05{margin-top:5px;}
.mtop {margin-top:10px;}
.mtop2 {margin-top:20px;}
.mtop3{margin-top:30px;}
.mtop4{margin-top:40px;}
.mtop6{margin-top:60px;}
.mbom{margin-bottom:10px;}
.pbom{padding-bottom:30px;}
.nav_bottom {margin-bottom:70px;}
.mtop175{margin-top:100px;}
.mb{margin-bottom:100px;}
.pb{padding-bottom:10px;}
.mar{margin-left:auto;margin-right:auto;}
.ht3 {height:30px;line-height:30px;}
.ht4 {height:44px;line-height:44px;}
.ht5 {height:50px;line-height:50px;}
.ht7 {height:70px;line-height:70px;}
.cut10 {width:10%}
.cut15 {width:15%}
.cut16 {width:16.66%}
.cut20 {width:20%} /*分割成2块*/
.cut25 {width:25%}
.cut30{width:30%}
.cut33 {width:33.33%} /*分割成3块*/
.cut35{ width:35%;}
.cut40{width:40%}
.cut45{width:45%}
.cut50 {width:50%}
.cut55 {width:55%}
.cut60 {width:60%}
.cut65{width:65%}
.cut70 {width:70%}
.cut75 {width:75%}
.cut80 {width:80%}
.cut85 {width:85%}
.cut90{width:90%}
.cut95 {width:95%}
.cut100{ width:100%;}
.bg1{background-color:#E35353}
.bg2{background-color:#329EEA}
.bg3{background-color:#F18E00}
.bg4{background-color:#0FC4D9}
.bg5{background-color:#21D0A7}
.bg6{background-color:#C30D23}
.bg7{background-color:#FFF;}
.color_1{color:#C30D23;}
.color_2{color:#999;}
.mar10{margin-left:10px;}
.mart10{margin-right:10px;}

.line{width:100%;height:5px;background-color:#DCDDDD;}
footer,header,nav,section {display:block;margin:0 auto;border:0;height:auto;}

@media screen and (min-width:1500px) {
header,nav,section,footer { width: 860px; }
}

 @media screen and (min-width: 1000px) and (max-width: 1499px) {
header,nav,section,footer{ width: 760px;}


}
 @media screen and (min-width:750px) and (max-width: 999px) {
header,nav,section,footer{width: 90%;}


}

  @media only screen and (min-width:401px) and (max-width:749px) {
header,nav,section,footer{width:100%;}
}

 @media only screen and (min-width:180px) and (max-width:400px) {
header,nav,section,footer{width:100%;}
}
